.wcpay-settings-screen__method-tabs {
	.components-tab-panel__tabs {
		margin-block-end: 16px;
		border-block-end: 1px solid $gray-200;
	}
}

.wcpay-settings-screen__card-description {
	margin: 0;
	color: $gray-700;
}
