.is-button + .is-button {
	margin-left: 10px;
}

.dispute-evidence-form-container {
	max-width: 680px;
	margin: 0 auto;
}

.woocommerce-card > .woocommerce-card__header > .woocommerce-card__title-wrapper > .woocommerce-card__title {
	padding: 3px 0;
	font-size: 15px;
	font-size: .9375rem;
	font-weight: 600;
}

.woocommerce-card__header {
	border-bottom: 1px solid #dcdcde;
}
