@import './stylesheets/abstracts/colors';
@import './stylesheets/abstracts/mixins';
@import './stylesheets/abstracts/breakpoints';

/* Fix top padding when layout breaks at 782px */
.woocommerce-layout .woocommerce-layout__main {
	@media screen and (max-width: 782px) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

.woocommerce-card__body {
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	hr.full-width {
		/* Accounting for woocommerce-card__body padding */
		margin: 0 -16px;
		margin-bottom: -1px;
	}

	textarea {
		/* Make textarea take full width of the card */
		width: 100%;
		padding: 6px 8px;

		/**
		 * This styling makes focused textarea look like other inputs.
		 * Original styling is defined here https://github.com/woocommerce/woocommerce-admin/blob/c5811495987a05010513ce51e3dfcf538d52049a/client/stylesheets/shared/_global.scss.
		 * TODO: remove if PR released (https://github.com/woocommerce/woocommerce-admin/pull/3655).
		 */
		&:focus {
			color: $dark-gray-700;
			border-color: $studio-woocommerce-purple-60;
			box-shadow: 0 0 2px rgba($studio-woocommerce-purple-60, 0.8);
		}
	}
}

.woocommerce-table {

	font-weight: 300;
	letter-spacing: 0.012rem;
	color: $studio-gray-60;

	.woocommerce-card__header {
		border-bottom: 1px solid $light-gray-700;
	}

	.woocommerce-table__summary {
		border-radius: 0 0 3px 3px;
	}

	.woocommerce-card__menu {
		margin: -6px 0;
	}

	.woocommerce-table__item {
		white-space: nowrap;
	}

	.info-button {
		width: 40px;
		padding-right: 0;

		> a {
			height: 18px;
			fill: $gray-30;
		}

		+ .woocommerce-table__header {
			border-left: none;
		}

		.is-placeholder {
			display: none;
		}
	}

	.payment-method__brand {
		display: block;
		margin: 0 auto;
	}
}

/**
 * This styling changes the appearance of warning notices to match our designs.
 * In particular it removes margins that aren't supposed to be present, and
 * fixes the background color.
 */
.wcpay-test-mode-notice.components-notice.is-warning {
	margin: 24px 0;
	padding: 12px;
	background-color: $warning;
}

.wcpay-payment-details {
	.woocommerce-card__header {
		border-bottom: 1px solid $gray-5;
	}
}

.payment-method-details {
	display: flex;
	align-items: flex-start;

	@media screen and (max-width: 1023px) {
		display: block;
	}

	&__column {
		flex: 0 0 50%;
	}
}

.payment-method-detail {
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	line-height: 28px;

	&__label {
		margin: 0;
		color: $studio-gray-60;
		flex: 0 0 36%;
		font-weight: normal;
	}

	&__value {
		margin: 0;
		color: $studio-gray-80;
	}
}
