@import './stylesheets/abstracts/colors';
@import './stylesheets/abstracts/mixins';
@import './stylesheets/abstracts/breakpoints';

/* Fix top padding when layout breaks at 782px */
.woocommerce-layout .woocommerce-layout__main {
	@media screen and (max-width: 782px) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

.woocommerce-card__body {
	hr.full-width {
		/* Accounting for woocommerce-card__body padding */
		margin: 0 -16px;
	}
}

/**
 * This styling changes the appearance of warning notices to match our designs.
 * In particular it removes margins that aren't supposed to be present, and
 * fixes the background color.
 */
.wcpay-test-mode-notice.components-notice.is-warning {
	margin: 24px 0;
	background-color: $warning;
}
