.wcpay-confirmation-modal {
	&.wcpay-payment-method-confirmation-modal {
		max-width: 520px;
		.payment-method-requirements-list {
			list-style-type: disc;
			list-style-position: inside;
		}
	}
}
@include breakpoint( '<660px' ) {
	.wcpay-payment-methods-add-modal {
		.components-modal__content {
			display: flex;
			flex-direction: column;
			ul {
				flex: 1;
			}
		}
	}
}
