.woocommerce-card__body .woocommerce-card__footer {
	/* Add margin and padding to align with .woocommerce-card__body padding */
	margin: 16px -16px 0;
	padding: 16px;
	border-top: 1px solid $gray-5;

	&:last-child {
		padding-bottom: 0;
	}
}
