.woocommerce-payments__payment-method-icon {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	max-width: 160px;

	@include breakpoint( '>660px' ) {
		max-width: inherit;
	}

	&__label {
		margin-left: 4px;
	}

	svg {
		width: 38px;
		height: 24px;
	}
}
.woocommerce-payments__payment-method-has-icon-border {
	box-shadow: 0 0 0 1px #ddd;
	border-radius: 2px;
	width: 38px;
	height: 24px;
}
