@mixin label-styles {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: $gray-700;
	margin-bottom: 8px;
}

@mixin amount-styles {
	font-size: 20px;
	font-weight: 500;
	color: $gray-900;
	line-height: 28px;
}

.wcpay-payments-activity {
	&__card {
		&__body {
			padding: 0 !important;
			&__empty-state-wrapper {
				text-align: center;
				color: #949494;
				padding: 16px 0 19px;
			}
		}
	}
}

.wcpay-payments-activity-data {
	display: flex;
	width: 100%;

	@include breakpoint( '<660px' ) {
		flex-direction: column;
		padding: 24px;
	}

	.wcpay-payments-data-highlights {
		display: flex;
		flex: 1 0 0;
		flex-wrap: wrap;

		&__item {
			padding: 24px;
			border-left: 1px solid $gray-200;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			min-height: 129px;
			flex: 1 0 0;

			&:hover {
				.wcpay-payments-data-highlights__item__wrapper__report-link {
					visibility: visible;
				}
			}

			&__label {
				@include label-styles;
				margin: 0 0 8px 0;
			}

			&__wrapper {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 100%;

				@include breakpoint( '<660px' ) {
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
				}

				&__amount {
					@include amount-styles;
					margin: 0 0 8px 0;

					@include breakpoint( '<660px' ) {
						margin: 0;
					}
				}

				&__report-link {
					text-decoration: none;
					font-size: 12px;
					visibility: hidden;

					@include breakpoint( '<660px' ) {
						min-height: unset;
						visibility: visible;
					}
				}
			}

			@include breakpoint( '<660px' ) {
				border-left: none;
				border-bottom: 1px solid $gray-200;
				padding: 16px 0;
				min-height: unset;
			}
		}

		@include breakpoint( '<660px' ) {
			flex-direction: column;
		}
	}

	#wcpay-payments-data-highlights {
		&__charges,
		&__refunds {
			border-bottom: 1px solid $gray-200;
		}

		&__fees {
			@include breakpoint( '<660px' ) {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
	}
}

#wcpay-payments-activity-data {
	&__total-payments-volume {
		border-left: none;
		align-self: stretch;
		flex: 1 0 0;

		&__label {
			@include label-styles;
		}

		&__amount {
			@include amount-styles;
		}

		@include breakpoint( '<660px' ) {
			border-bottom: 1px solid $gray-200;
			padding-top: 0;
		}
	}
}
