.wc-block-components-bnpl-wrapper {
	height: calc( 4em + 32px );
	.pmme-container {
		height: 4em;
		position: relative;

		.pmme-loading {
			position: absolute;
			max-width: 20em;
			width: 100%;
			height: 100%;
			animation: pmme-loading 1s linear infinite alternate;
			background: #afafaf;
		}
	}
}

@keyframes pmme-loading {
	0% {
		background-color: hsl( 204, 10%, 90% );
	}
	100% {
		background-color: hsl( 200, 20%, 95% );
	}
}
