.deposits {
	.components-notice {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1em;
	}

	&__bank-information-help {
		font-style: italic;
	}
	.schedule-controls {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		.components-select-control {
			padding-right: 16px;
			margin-bottom: 0;
		}
	}
	.help-text {
		color: #757575;
		margin-top: 0;
		margin-bottom: 1em;
	}
}
