// Container for the new-evidence page
.wcpay-dispute-evidence-new {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__stepper-divider {
		margin: 0;
	}
}

// Stepper section background to match accordion
.wcpay-dispute-evidence-new__stepper-section {
	background: $white; // Same as .wcpay-accordion
	border: $border-width solid $gray-200;
	padding: 0 24px 24px 24px;
}

// Optional: Card spacing and button spacing, copied from disputes style
.wcpay-dispute-evidence-new .components-card {
	margin-bottom: 24px;
}

.wcpay-dispute-evidence-new .components-button + .components-button {
	margin-left: 10px;
}

// Limit the width of the stepper content and center it
.wcpay-dispute-evidence-new__stepper-content {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.wcpay-dispute-evidence-new__stepper-title {
	color: var( --Scales-Grays-gray-900, $gray-900 );
	/* Heading XL */
	font-size: var( --xl, 20px );
	font-style: normal;
	font-weight: var( --Medium, 500 );
	line-height: var( --m, 24px ); /* 120% */

	margin-top: 24px;
	margin-bottom: 12px;
}

.wcpay-dispute-evidence-new__stepper-subheading {
	color: var( --Scales-Grays-gray-700, $gray-700 );
	/* Body MD */
	font-size: var( --m, 13px );
	font-style: normal;
	font-weight: var( --Regular, 400 );
	line-height: var( --s, 20px ); /* 153.846% */
}

.wcpay-dispute-evidence-new__button-row {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.wcpay-dispute-evidence-new__button-group-right {
	display: flex;
	align-items: center;
}

// Add spacing between right-aligned buttons
.wcpay-dispute-evidence-new__button-group-right
	.components-button
	+ .components-button {
	margin-left: 8px;
}
