.wcpay-settings__account-business-support-phone-input {
	p {
		margin-bottom: 0;
	}

	.iti {
		margin-top: 0;
	}

	input {
		height: 40px;
		padding-right: 12px;
		width: 100%;
		border-radius: 0;
	}
}
