/** @format */
$break-width: 42rem;

.woocommerce-list--horizontal {
	margin: 0;
}

.woocommerce-card__body {
	.woocommerce-list--horizontal {
		/* Account for Card margin when applying borders between lines */
		margin: 0 -16px 0 -16px;
	}
}

.woocommerce-card__body .woocommerce-list--horizontal,
.woocommerce-list--horizontal {
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	@media screen and ( min-width: $break-width ) {
		flex-direction: initial;
		align-items: stretch;
		margin: 1rem 0 0 0;
	}
	.woocommerce-list__item {
		padding: 0.75rem 1rem;
		border-left: 0;
		border-bottom: 1px solid #DCDCDE;
		@media screen and ( min-width: $break-width ) {
			padding: 0 1rem;
			border-left: 1px solid #DCDCDE;
			border-bottom: 0;
		}

		.woocommerce-list__item-inner {
			margin: 0;
			padding: 0;
		}

		.woocommerce-list__item-title,
		.woocommerce-list__item-content {
			color: #50575E;
			margin-top: 0;
		}
	}
	.woocommerce-list__item:first-child {
		@media screen and ( min-width: $break-width ) {
			border-left: 0;
			padding-left: 0;
		}
	}
	.woocommerce-list__item:last-child {
		border-bottom: 0;
		padding-bottom: 0;
		@media screen and ( min-width: $break-width ) {
			padding-right: 0;
		}
	}
}
