.upe-appearance-editor {
	position: fixed !important;
	z-index: 999;
	width: 500px;
	height: 500px;
	> div {
		display: flex;
		flex-direction: column;
		height: 100%;
		background-color: var( --wp--preset--color--background, #fff );
		color: var( --wp--preset--color--foreground, #000 );
		border-color: var( --wp--preset--color--foreground, #000 );
		border-width: 1px;
		border-style: solid;
	}

	fieldset {
		border: 1px solid;
		border-color: var( --wp--preset--color--foreground );
	}

	small {
		font-size: 0.8rem;
	}

	&.collapsed {
		height: auto;
		width: auto;
		.components-card__header {
			select {
				display: none;
			}
		}
		.components-card__body,
		.components-card__footer {
			display: none;
		}
	}

	&.bottom-left {
		bottom: 10px;
		left: 10px;
	}

	&.bottom-right {
		bottom: 10px;
		right: 10px;
	}

	&.top-left {
		top: 10px;
		left: 10px;
	}

	&.top-right {
		top: 10px;
		right: 10px;
	}

	> div {
		display: flex;
		flex-direction: column;
	}

	.components-card__header {
		cursor: pointer;
	}

	.components-card__body {
		overflow: auto;
		padding-top: 0;
		padding-bottom: 0;

		.elements-location {
			float: right;
		}
		fieldset {
			clear: both;
		}
	}

	.components-base-control__field {
		display: flex;
		flex-direction: row;
		column-gap: 0.5rem;
	}

	.components-base-control__label {
		margin-right: 0.5rem;
		font-size: 1rem;
	}

	.components-input-control__label {
		font-size: 1rem;
	}

	.components-select-control {
		flex-direction: row;
		column-gap: 0.5rem;
		align-items: end;
	}
}
