/** @format */

@import 'node_modules/@automattic/color-studio/dist/color-variables.scss';
@import 'node_modules/@wordpress/base-styles/colors.scss';

$gray-5: #DCDCDE;
$gray-30: #8e9196;
$gray-40: #787c82;
$gray-60: #50575e;

$gray-80: #2C3338;

$blue-5: #C5D9ED;
$blue-80: #043959;

$red-5: #FFDBDD;
$red-80: #691C1C;

$warning: #fef8ee;
