/** @format */

@import 'node_modules/@automattic/color-studio/dist/color-variables.scss';
@import 'node_modules/@wordpress/base-styles/colors.scss';

$gray-5: #dcdcde;
$gray-30: #8e9196;
$gray-40: #787c82;
$gray-60: #50575e;

$gray-80: #2c3338;

$blue-5: #c5d9ed;
$blue-80: #043959;

$green-50: #008a20;
$green-60: #007017;

$red-5: #ffdbdd;
$red-50: #d63638;
$red-60: #b32d2e;
$red-80: #691c1c;

$warning: #fef8ee;

$pink-50: #c9356e;
$pink-60: #ab235a;

