# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Each line is a file pattern followed by one or more owners.

# Harmony owns any files in the .github directory at the root of the repository and any of its subdirectories.
/.github/ @Automattic/harmony
