.payment-details__timeline .woocommerce-timeline .woocommerce-timeline-item .woocommerce-timeline-item__headline {
	.icon-yellow {
		background-color: $alert-yellow;
	}

	.icon-green {
		background-color: $studio-green-50;
	}

	.icon-red {
		background-color: $alert-red;
	}
}
