.woocommerce-timeline .woocommerce-timeline-item {
	&__body {
		.fee-breakdown-list,
		.discount-split-list {
			margin-left: 16px;
			line-height: 1.5;
		}

		.fee-breakdown-list {
			list-style-type: disc;
		}

		.discount-split-list {
			list-style-type: circle;
		}
	}

	&__headline svg {
		// Fraud outcome colors
		&.is-fraud-outcome-review {
			background: #d67709;
		}
	}
}
