/** @format */

{
	"root": true,
	"parser": "babel-eslint",
	"extends": [ "wpcalypso/react", "plugin:jsx-a11y/recommended", "prettier" ],
	"plugins": [ "jsx-a11y", "jest" ],
	"env": {
		"browser": true,
		"jest/globals": true,
		"node": true
	},
	"globals": {
		"wp": true,
		"wpApiSettings": true,
		"wcSettings": true,
		"wcpaySettings": true,
		"wcpayAdminSettings": true,
		"page": true,
		"browser": true,
		"context": true,
		"jestPuppeteer": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"camelcase": [ "error", { "properties": "always" } ],
		"indent": "off",
		"max-len": [ "error", { "code": 140 } ],
		"no-console": "warn",
		"react/no-danger": "off",
		"react/react-in-jsx-scope": "off",
		"wpcalypso/import-no-redux-combine-reducers": "off",
		"wpcalypso/jsx-classname-namespace": "off",
		"wpcalypso/redux-no-bound-selectors": "warn",
		"react/jsx-curly-spacing": [
			2,
			{ "when": "always", "children": { "when": "always" } }
		],
		"jsx-a11y/label-has-for": [
			"error",
			{
				"required": "id"
			}
		],
		"inclusive-language/use-inclusive-words": [
			"warn",
			{
				"allowedTerms": [ "mastercard" ]
			}
		],
		// this section disables rules causing massive violations in https://github.com/Automattic/woocommerce-payments/pull/1029
		// we need to re-visit with JS advocating folks and deside how to proceed here
		"jsdoc/check-types": "off",           // +47 violations
		"jsdoc/no-undefined-types": "off",    // +15 violation
		"react-hooks/exhaustive-deps": "off", // +8 violations
		"jsdoc/check-param-names": "off",     // +4 violations
		"jsdoc/require-param": "off",         // +3 violations
		"react-hooks/rules-of-hooks": "off",  // +2 violation
		"jsdoc/require-property": "off",      // +1 violation
	}
}
