# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Bundle
dist
release
languages/*.pot
woocommerce-payments.zip

# Grunt
/node_modules/
none

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# ApiGen
/wc-apidocs/

# Behat/CLI Tests
tests/cli/installer
tests/cli/composer.phar
tests/cli/composer.lock
tests/cli/composer.json
tests/cli/vendor

# Tests
/coverage
/tmp
/tests/bin/tmp
/tests/e2e/config/local-*.json
/tests/e2e/config/local.json
/tests/e2e/config/local.env
/tests/e2e/docker
/tests/e2e/deps
phpcs.xml
phpunit.xml

# Logs
/logs

# Composer
/vendor/
/vendor-dist/
contributors.md

# Screenshots for e2e tests failures
/screenshots/

# Volumes mounted by Docker containers
docker/data
docker/wordpress
docker/logs

# Local machine docker override
docker-compose.override.yml

# Tunneling scripts
/docker/bin/jt

# Test coverage report
/coverage

local.env

# Screenshots created locally when running e2e tests
tests/e2e/screenshots
