<?xml version="1.0"?>
<phpunit
	bootstrap="tests/unit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="WCPay">
			<directory suffix=".php">./tests/unit</directory>
		</testsuite>
		<testsuite name="WCPayMultiCurrency">
			<directory suffix=".php">./includes/multi-currency/tests/unit</directory>
		</testsuite>
	</testsuites>

	<!-- Set a whitelist for code coverage analysis -->
	<filter>
		<whitelist>
			<directory suffix=".php">includes</directory>
		</whitelist>
	</filter>

</phpunit>
