<?xml version="1.0"?>
<phpunit
	bootstrap="tests/unit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix=".php">./tests/unit</directory>
		</testsuite>
	</testsuites>
</phpunit>
