.wcpay-deposit-overview {
	.woocommerce-order-status {
		margin-bottom: 4px;
	}

	.woocommerce-order-status__indicator {
		width: 0.85em;
		height: 0.85em;

		&.is-paid {
			background: $studio-green-50;
			border-color: $studio-green-5;
		}
		&.is-pending,
		&.is-in_transit {
			background: $studio-yellow-30;
			border-color: $studio-yellow-5;
		}
		&.is-failed {
			background: $studio-red-50;
			border-color: $studio-red-5;
		}
	}

	.woocommerce-summary__item {
		.woocommerce-summary__item-label {
			font-size: 14px;
			line-height: 20px;
		}
		.woocommerce-summary__item-value {
			font-size: 20px;
			line-height: 28px;
		}
	}

	.wcpay-deposit-fee {
		color: $studio-red-50;
	}

	.wcpay-deposit-net {
		color: $studio-green-30;
	}

	.wcpay-deposit-automatic ul {
		display: flex;
		margin: 0;
		list-style-type: none;

		.woocommerce-summary__item {
			border-bottom: 0;
			background-color: inherit;
			color: inherit;
			.woocommerce-summary__item-label:hover {
				color: inherit;
			}
		}

		.wcpay-deposit-amount {
			flex-grow: 1;
			padding: 24px;
			text-align: right;
			font-size: 36px;
			line-height: 82px;
		}
	}

	&--instant {
		&__transactions-list-message.components-card__body {
			padding: 24px;
		}
	}

	/* WC SummaryNumber modifications: some margins, colors and hide of unused fields */
	.woocommerce-summary {
		.woocommerce-summary__item-label {
			margin-bottom: 12px;
		}
		.woocommerce-summary__item-data {
			margin-top: 0;
			margin-bottom: 8px;
		}
		.wcpay-summary__item-detail {
			color: $dark-gray-500;
		}
		/* Hide unused SummaryNumber fields */
		.woocommerce-summary__item-prev-value,
		.woocommerce-summary__item-delta {
			display: none;
		}
		.woocommerce-summary__item {
			background: $studio-white;
			&:hover .woocommerce-summary__item-label {
				color: $gray-700;
			}
		}
		a.woocommerce-summary__item {
			&:hover {
				background-color: $studio-gray-0;
				&:hover .woocommerce-summary__item-label {
					color: var( --wp-admin-theme-color );
				}
			}
			&:active {
				background-color: $studio-gray-5;
			}
		}
	}
}
