.wcpay-deposit-overview {
	.woocommerce-order-status {
		margin-bottom: 4px;
	}

	.woocommerce-order-status__indicator {
		width: 0.85em;
		height: 0.85em;

		&.is-paid {
			background: $studio-green-50;
			border-color: $studio-green-5;
		}
		&.is-pending,
		&.is-in_transit {
			background: $studio-yellow-30;
			border-color: $studio-yellow-5;
		}
		&.is-failed {
			background: $studio-red-50;
			border-color: $studio-red-5;
		}
	}

	.woocommerce-summary__item {
		.woocommerce-summary__item-label {
			font-size: 14px;
			line-height: 20px;
		}
		.woocommerce-summary__item-value {
			font-size: 20px;
			line-height: 28px;
		}
	}

	.wcpay-deposit-fee {
		color: $studio-red-50;
	}

	.wcpay-deposit-net {
		color: $studio-green-30;
	}

	.wcpay-deposit-automatic ul {
		display: flex;
		margin: 0;
		list-style-type: none;

		.woocommerce-summary__item {
			border-bottom: 0;
			background-color: inherit;
			color: inherit;
			.woocommerce-summary__item-label:hover {
				color: inherit;
			}
		}

		.wcpay-deposit-amount {
			flex-grow: 1;
			padding: 24px;
			text-align: right;
			font-size: 36px;
			line-height: 82px;
		}
	}
}
