@import '../../../stylesheets/abstracts/colors';
@import '../../../stylesheets/abstracts/variables';

.woopay-save-new-user-container {
	.save-details {
		padding: $gap-small;
		border: 1px solid rgba( 109, 109, 109, 0.3 );
	}

	.save-details-header {
		display: flex;
		align-items: flex-start;
		gap: $gap-small;
		position: relative;

		> div {
			flex: 1;
		}

		label {
			flex: 1;
			display: flex;
			gap: $gap-small;
			align-items: flex-start;
			margin: 0 !important;
			padding: 0 !important;

			.save-details-checkbox:not( .wc-block-components-checkbox__input ) {
				margin-top: 0.375rem;
			}
		}

		.wc-block-components-checkbox {
			margin-top: 0;
			flex: 1;

			label {
				gap: unset;
			}

			input {
				margin-right: $gap-small;
			}

			span {
				@include breakpoint( '>960px' ) {
					margin-right: 1.25rem;
				}
			}
		}

		.woopay-logo {
			height: 1.0625rem;
			margin-top: 0.375rem;
		}

		.info-icon {
			fill: $gray-600;
			margin-top: 0.1875rem;
			object-fit: none;

			&:hover,
			&.focused {
				fill: #3d9cd2;
			}

			&:hover + .save-details-flyout {
				display: flex;
			}
		}

		.save-details-flyout {
			display: none;
			flex-direction: row;
			gap: $gap-smaller;
			background-color: #fff;
			border: 1px solid rgba( 109, 109, 109, 0.3 );
			border-radius: 3px;
			padding: $gap-small;
			position: absolute;
			width: 16.875rem;
			font-size: 0.8125rem;
			line-height: 1.25rem;
			top: -7.75rem;
			left: calc( 100% - 8.4375rem );

			&:hover {
				display: flex;
			}

			span {
				color: #333 !important;
			}

			svg {
				fill: currentColor;
				color: $alert-green;
			}

			@include breakpoint( '<800px' ) {
				left: initial;
				right: 0;
				top: -8.125rem;
			}
		}
	}
}
