@import '../../../stylesheets/abstracts/colors';
@import '../../../stylesheets/abstracts/variables';

.woocommerce-checkout-payment {
	.woopay-save-new-user-container {
		padding: 1.41575em;
	}
}

.woopay-save-new-user-container {
	.save-details-header {
		display: flex;
		align-items: flex-start;
		gap: $gap-small;
		position: relative;

		> div {
			flex: 1;
		}

		label {
			display: block;
			margin: 0 !important;
			padding: 0 0 0 27px;
			text-indent: -27px;

			.save-details-checkbox:not( .wc-block-components-checkbox__input ) {
				margin-right: 12px;
			}
		}

		.wc-block-components-checkbox {
			margin-top: 0;
			flex: 1;

			label {
				gap: unset;
				display: flex !important;
				align-items: flex-start;
				padding: 0;
				text-indent: 0;
			}

			input {
				margin-right: $gap-small;
			}

			span {
				@include breakpoint( '>960px' ) {
					margin-right: 1.25rem;
				}
			}
		}
	}
}
