.general-settings {
	&__bank-information {
		display: flex;
		flex-direction: column;

		:first-child {
			flex-grow: 1;
		}

		@include breakpoint( '>800px' ) {
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}

	&__account-statement-wrapper {
		position: relative;

		.input-help-text {
			position: absolute;
			right: 10px;
			top: 7px;
			font-size: 12px;
			color: #757575;
		}
	}

	.font-style-italic {
		font-style: italic;
	}
}
