.general-settings {
	&__account-statement-wrapper {
		position: relative;

		.components-base-control__field .components-text-control__input {
			// to make room for the help text, so that the input's text and the help text don't overlap
			padding-right: 55px;
		}

		.input-help-text {
			position: absolute;
			right: 10px;
			top: 11px;
			font-size: 12px;
			color: #757575;

			@media ( min-width: 783px ) {
				top: 6px;
			}
		}
	}

	&__bank-information-help {
		font-style: italic;
	}
}
