.fraud-protection {
	&-advanced-settings-layout {
		.is-loadable-placeholder.is-block {
			margin-top: 2em;
		}
	}
	&-header-breadcrumb {
		margin-top: -16px;
		margin-bottom: 24px;
	}
	&-header-save-button {
		margin-right: 8px;
	}

	&-single-radio-wrapper {
		display: flex;
		align-items: center;
		height: 20px;
		margin-bottom: 8px;
		&__item {
			display: inline-block;
			margin: 0 5px 0 0;
			&--recommended {
				margin-right: 5px;
				color: #757575;
			}
		}
	}

	&__list-divider {
		margin: 3px 0 3px;
	}

	&__advanced-level-container {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-top: 1em;
		label {
			flex: 1;
		}
		p.fraud-protection__text--help-text {
			margin-bottom: 0;
		}
	}

	input[type='radio'] {
		margin: 0 10px 0 0;
		width: 20px;
		height: 20px;
		border-color: #757575;
		&:checked {
			background-color: #fff;
			border-color: #757575;
			&::before {
				content: '';
				border-radius: 50%;
				width: 12px;
				height: 12px;
				margin: 3px;
				background-color: #3582c4;
				line-height: 1.14285714;
			}
		}
	}

	&__text--help-text {
		font-size: 12px;
		color: #757575;
		margin: 0 0 0 30px;
		margin-bottom: 1em;
		display: inline-block;
	}

	&-rule-description {
		margin-bottom: 24px;
		strong {
			font-size: 13px;
			font-weight: 600;
			line-height: 16px;
			color: #1e1e1e;
			margin: 0;
			margin-bottom: 8px;
			display: block;
		}
		p:last-child {
			font-size: 13px;
			font-weight: 400;
			line-height: 16px;
			margin: 0;
			color: #757575;
		}
	}

	&-rule-toggle {
		margin-bottom: 24px;
		strong {
			font-size: 13px;
			font-weight: 600;
			line-height: 16px;
			color: #1e1e1e;
			margin: 0;
			margin-bottom: 8px;
			display: block;
		}
		&-toggle {
			margin-bottom: 24px;
			label {
				padding-left: 16px;
				display: inline-block;
				margin-top: -4px;
				line-height: 21px;
				font-size: 13px;
				color: #1d2327;
			}
		}
		&-checkbox {
			& > div {
				margin-bottom: 0;
			}
			&-container {
				display: flex;
				align-items: flex-start;
				.fraud-protection-rule-toggle-checkbox-container-help {
					margin-top: 3px;
					margin-left: 12px;
				}
			}
			span {
				margin-right: 8px;
			}
			label {
				line-height: 16px;
				font-size: 13px;
				color: #1e1e1e;
			}
		}
		&-children {
			&-container {
				margin-bottom: 16px;
			}
			&-horizontal-form {
				display: flex;
				flex-direction: row;
				gap: $gap-small;
				max-width: 492px;
			}
			&-vertical-form {
				display: flex;
				flex: 1;
				flex-direction: column;
				gap: $gap-smaller;
			}
		}
	}

	&-rule-card {
		&-header-container {
			padding: 16px 24px;
		}
		&-header {
			margin: 0;
			margin-bottom: 4px;
			font-size: 20px;
			line-height: 28px;
			font-weight: 400;
			color: #1e1e1e;
		}
		&-description {
			margin: 0;
			font-size: 14px;
			line-height: 18px;
			font-weight: 400;
			color: #757575;
		}
		hr {
			margin: 0;
			border-bottom: 1px solid #e0e0e0;
			border-top: 0;
		}
		&-notice {
			padding: 12px 16px;
			display: flex;
			&-warning {
				background-color: #fcf9e8;
			}
			&-info {
				background-color: #f0f6fc;
			}
			&-error {
				background-color: #fcf0f1;
			}
			&-icon svg {
				margin: 2px 16px 2px 2px;
			}
			&-text {
				font-size: 13px;
				line-height: 24px;
				font-weight: 400;
				color: #1e1e1e;
				flex: 1;
			}
		}
	}

	&__help-icon {
		cursor: pointer;
	}
}

.components-modal__header {
	border-bottom: 1px solid #ddd;
}

.components-modal__body--fraud-protection {
	padding-top: 24px;

	ul {
		list-style-type: disc;
		margin-left: 24px;
	}
}

.component-modal__text {
	&--blocked {
		color: #b32d2e;
	}
	&--review {
		color: #996800;
	}
}

.component-modal__button {
	&--confirm {
		display: block;
		margin-left: auto;
	}
}

.component-notice--is-info {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 1em;
	background-color: #f0f6fc;
	border-left: none;
}

.component-notice__icon {
	margin-right: 10px;
	align-self: center;
}

.component-notice__content--flex {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
