.search {
	position: relative;

	&__icon {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY( -50% );
	}

	input.components-text-control__input {
		padding-left: 8px + 24px + 8px;
	}
}
