/** @format */

@import '../../stylesheets/abstracts/colors';

.wcpay-badge {
	display: inline-flex;
	align-items: center;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 2px;
	padding: 4px 8px;

	&--info {
		background: $wp-blue-0;
		color: $wp-blue-70;
	}

	&--success {
		background: $wp-green-0;
		color: $wp-green-70;
	}

	&--warning {
		background: $wp-yellow-0;
		color: $wp-yellow-70;
	}

	&--error {
		background: $wp-red-0;
		color: $wp-red-70;
	}
}
