.wcpay-payment-element {
	margin-bottom: 2rem;
}

.wcpay-card-mounted {
	background-color: #fff;
}

/* stylelint-disable-next-line selector-id-pattern */
#express-payment-method-platform_checkout {
	width: 100%;
}

.wc-block-components-main
	.wc-block-components-checkout-step--with-step-number
	.wc-block-components-checkout-step__content
	> :last-child {
	padding: 0;
}

#contact-fields {
	padding-bottom: 1.5em;
}

button.wcpay-stripelink-modal-trigger {
	display: none;
	position: absolute;
	right: 5px;
	width: 64px;
	height: 40px;
	background: no-repeat
		url( '../../../assets/images/payment-methods/link.svg' );
	background-color: transparent;
	cursor: pointer;
	border: none;
}

button.wcpay-stripelink-modal-trigger:hover {
	background-color: transparent;
	border-color: transparent;
}
@import '../platform-checkout/style';
