.wcpay-payment-element {
	margin-bottom: 2rem;
}

.wcpay-card-mounted {
	background-color: #fff;
}

/* stylelint-disable-next-line selector-id-pattern */
#express-payment-method-woopay {
	width: 100%;
}

.wc-block-components-main
	.wc-block-components-checkout-step--with-step-number
	.wc-block-components-checkout-step__content
	> :last-child {
	padding: 0;
}

#contact-fields {
	padding-bottom: 1.5em;
}

.wc-block-components-text-input button.wcpay-stripelink-modal-trigger {
	top: 50%;
	transform: translateY( -50% );
}

button.wcpay-stripelink-modal-trigger {
	display: none;
	position: absolute;
	right: 5px;
	width: 64px;
	height: 40px;
	background: no-repeat url( 'assets/images/payment-methods/link.svg?asset' );
	background-color: transparent;
	cursor: pointer;
	border: none;
}

button.wcpay-stripelink-modal-trigger:hover {
	background-color: transparent;
	border-color: transparent;
}

.wc-block-checkout__payment-method {
	.wc-block-components-radio-control__label span {
		width: 95%;

		&:has( .StripeElement ) {
			display: grid;
			grid-template-columns: 1fr auto;
		}

		img {
			float: right;
			border: 0;
			padding: 0;
			height: 24px;
			max-height: 24px;
		}

		.StripeElement {
			width: 100%;
			grid-column: 1 / span 2;
			grid-row-start: 2;
			pointer-events: none;

			+ img {
				grid-row: 1 / span 2;
				grid-column: 2;
			}
		}
	}
}

#remember-me {
	margin-top: 36px;

	h2 {
		font-size: 18px;
		font-weight: 600;
		line-height: 21.6px;
		letter-spacing: -0.01em;
	}
}

#payment-method {
	label.wc-block-components-radio-control__option-checked {
		.StripeElement {
			display: none;
		}
		img {
			grid-column: 2;
			grid-row: 1;
		}
	}
	/* stylelint-disable-next-line selector-id-pattern */
	#radio-control-wc-payment-method-options-woocommerce_payments_affirm__label
		img {
		min-width: 50px;
	}
	/* stylelint-disable-next-line selector-id-pattern */
	#radio-control-wc-payment-method-options-woocommerce_payments_afterpay_clearpay__label
		img {
		min-width: 64px;
	}
}

@import '../woopay/style';
@import '../../components/loadable/style';
