.missing-order-notice-modal__reason {
	.components-base-control__label {
		font-weight: bold;
	}
	.components-radio-control__option {
		label {
			line-height: 2;
		}
	}
}

.missing-order-notice-modal__partial-refund {
	margin-top: 16px;
	margin-bottom: 0;
}
