.woopay-express-button {
	font-size: 20px;
	font-weight: normal;
	line-height: 42px;
	background: #fff;
	border: 1px solid #fff;
	color: #533582;
	width: 100%;
	border-radius: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.woopay-express-button[class*='dark'] {
	background: #533582;
	color: #fff;
}
.woopay-express-button[class*='outline'] {
	border-color: #533582;
}
.woopay-express-button[class*='medium'] {
	font-size: 24px;
	line-height: 48px;
}
.woopay-express-button[class*='large'] {
	font-size: 32px;
	line-height: 56px;
}
