@import '../style';

#payment .payment_method_woocommerce_payments .testmode-info {
	margin-bottom: 0.5em;
}

#wcpay-upe-element,
.wcpay-upe-element {
	padding: 7px 7px;
	margin-bottom: 0.5em;

	&.processing {
		min-height: 70px;
	}
}

.wcpay-checkout-email-field {
	position: relative;
}

.wcpay-checkout-email-field button.wcpay-stripelink-modal-trigger {
	display: none;
	position: absolute;
	right: 5px;
	width: 64px;
	height: 40px;
	background: no-repeat url( 'assets/images/payment-methods/link.svg?asset' );
	background-color: none;
	cursor: pointer;
	border: none;
}

#payment .payment_methods {
	li label img {
		float: right;
		border: 0;
		padding: 0;
		height: 24px !important;
		max-height: 24px !important;
	}
}

li.wc_payment_method:has( .input-radio:not( :checked )
		+ label
		.stripe-pmme-container ) {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto auto;
	align-items: baseline;

	.input-radio {
		grid-row: 1;
		grid-column: 1;
	}

	label {
		grid-column: 2;
		grid-row: 1;
	}

	img {
		grid-row: 1 / span 2;
		align-self: center;
	}

	.stripe-pmme-container {
		width: 100%;
		grid-column: 1;
		grid-row-start: 2;
		pointer-events: none;
	}

	.payment_box {
		flex: 0 0 100%;
		grid-row: 2;
		grid-column: 1 / span 2;
	}
}

li.wc_payment_method:has( .input-radio:checked
		+ label
		.stripe-pmme-container ) {
	display: block;

	.input-radio:checked {
		+ label {
			.stripe-pmme-container {
				display: none;
			}

			img {
				grid-column: 2;
			}
		}
	}
}
