.chip--transaction {
	border-radius: 4px;
	font-size: 13px;
	line-height: 18px;
	padding: 1px 8px;

	&.chip-warning {
		background-color: #fcf9e8;
		color: #614200;
	}

	&.chip-alert {
		background-color: #fcf0f1;
		color: #8a2424;
	}
}
