.wcpay-component-tip-box {
	@include wc-others-caption;
	display: grid;
	grid-template-columns: 24px 1fr;
	column-gap: $gap-smaller;
	padding: $gap $gap-small $gap $gap-smaller;
	margin: $gap 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.purple {
		fill: $studio-woocommerce-purple-50;
		background-color: $studio-woocommerce-purple-0;
	}

	&.blue {
		fill: $gutenberg-blue;
		background-color: $wp-blue-0;
	}

	&.gray {
		fill: $gray-50;
		background-color: $gray-0;
		color: $gray-900;

		.components-button.is-link {
			color: #0063a1; // Gutenberg/Blue -10%
		}
	}

	&__content {
		align-self: center;
	}

	a {
		font-weight: 700;
		color: $studio-woocommerce-purple-70;
	}

	.components-button.is-link {
		font-size: inherit;
		color: $studio-woocommerce-purple-50;
	}
}
