@import '~@wordpress/components/src/tooltip/style.scss';

$space-header-item: 12px;

.documents-list {
	.date-time {
		min-width: 195px;
	}

	// slight adjustment to align header items with sorting button to account for icon width
	.woocommerce-table__header.is-numeric .components-button {
		margin-right: $space-header-item;
	}

	.woocommerce-table__header.is-center-aligned {
		text-align: center;
	}
}

// Adjusting the "Download"padding to match the column header alignment
button.components-button.documents-list__download-button {
	padding: 3px;
}

/**
 * Sourced from https://github.com/woocommerce/woocommerce-admin/blob/ec36a00b77b5c0e313985a5a64c88aaec9eb154e/client/analytics/components/report-table/style.scss.
 * Depending on the wc-admin version, these styles are not loaded if not using the analytics report components, so they need to be included here.
 * If we switch to the Report components, we can remove them from here, as they would be loaded by wc-admin.
*/
.woocommerce-report-table {
	.woocommerce-card__header {
		position: relative;
	}
}
