.wcpay-deposits-overview {
	&__heading {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 16px 24px;

		&__title {
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			color: $gray-900;
		}

		&__description {
			font-size: 13px;
			line-height: 16px;
			color: $gray-700;
		}
	}

	&__table {
		&__row {
			height: 52px;
			color: $gray-900;
			align-items: center;

			&__header {
				box-shadow: inset 0 -1px 0 #ddd;
				font-weight: 600;
				height: 34px;
			}
		}

		&__cell {
			display: flex;
			padding: 8px 24px;
			font-size: 13px;
			align-items: center;

			svg {
				fill: $gray-900;
				position: relative;
				left: 2.5px;
				margin-right: 24px;
			}
		}

		&__cell:first-child {
			width: 35%;
		}

		&__cell:last-child {
			margin-left: auto;
		}
	}
}
