.wcpay-deposits-overview {
	&__heading {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding-bottom: 16px;

		&__title {
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			color: $gray-900;
		}

		&__description {
			& > &__text {
				line-height: 16px;
				color: $gray-700;
			}
		}
	}
	.wcpay-banner-notice.components-notice {
		margin: 0;
	}

	// Apply a margin bottom to all except the last notice
	// in the notices container and to the business delay
	// notice if it's the last child of the Deposit history table.
	&__notices__container
		> .wcpay-banner-notice.components-notice:not( :last-child ),
	.wcpay-deposits-overview__business-day-delay-notice:last-child {
		margin-bottom: 16px;
	}

	// If the notices container is the last element before the footer (no deposit history), apply a margin to the footer, to float the notices on.
	.wcpay-deposits-overview__notices__container:not( :empty )
		+ .wcpay-deposits-overview__footer {
		margin-top: 16px;
	}

	// Override extraneous CardBody vertical padding -
	// we use multiple stacked CardBody components
	// so table CardDivider is full width.
	.components-card__body.wcpay-deposits-overview__table__container,
	.components-card__body.wcpay-deposits-overview__notices__container {
		padding-bottom: 0;
		padding-top: 0;
	}

	// Override display:block on the first FlexItem with the date and icon
	.wcpay-deposits-overview__table__cell:first-child {
		display: flex;
	}

	&__table {
		&__row {
			&__header {
				font-weight: 600;

				div {
					padding: 8px 0;
				}
			}
		}
		&__cell {
			font-size: 13px;
			align-items: center;
			padding: 16px 0;

			svg {
				fill: $gray-900;
				position: relative;
				left: 2.5px;
				margin-right: 24px;
			}

			&:first-child {
				width: 35%;
			}

			&:last-child {
				margin-left: auto;
			}
		}
	}
	&__footer {
		:not( :first-child ) {
			margin-left: 12px;
		}
		a:not( .components-button ) {
			text-decoration: none;
		}
	}
}

@media screen and ( max-width: 605px ) {
	.wcpay-deposits-overview__table__cell:first-child {
		width: 45%;
	}
}
