.wcpay-merchant-feedback-modal {
	&.components-modal__frame {
		max-width: 960px;
		max-height: calc( 100% - 120px );

		@media screen and ( max-width: $break-small ) {
			margin: auto auto;
			max-width: 90vw;
		}
	}

	.components-modal__header {
		border-bottom: none;

		.components-modal__header-heading {
			font-size: 20px;
			font-weight: 400;
			line-height: 28px;
		}
	}

	.components-modal__content {
		padding: 0;
		overflow: hidden;
	}

	&__iframe {
		width: 100%;
		height: 100%;
		border: none;
		display: block;
		@media ( min-width: 600px ) {
			width: 600px;
			height: 500px;
		}
	}
}
