.connect-account-page {
	h2 {
		@include wp-title-small;
		color: $gray-90;
		margin: 0;
	}

	&__heading {
		padding: $gap-larger $gap-large 0;

		img {
			height: 29px;
			margin-bottom: $gap-smaller;
		}

		@media screen and ( min-width: $break-small ) {
			h2 {
				margin-right: 7%;
			}
		}
	}

	&__content {
		padding: 0 $gap-large $gap-larger;

		&-usp {
			display: grid;
			grid-template-columns: auto 1fr;
			column-gap: $gap-smaller;
			row-gap: $gap;
			padding: $gap-large 0;
			@include wc-others-caption;
			color: $gray-800;

			svg {
				margin-top: 2px;
				height: 18px;
				fill: $studio-woocommerce-purple-60;

				&:first-child {
					height: 24px;
					margin-top: 0;
				}
			}
		}

		p {
			@include wc-others-caption;
			color: $gray-700;
			padding-top: $gap;
			margin: 0;
		}

		@media screen and ( min-width: $break-small ) {
			background: url( 'assets/images/illustrations/connect-hero.png?asset' )
				no-repeat center right 24px/259px 260px;
			padding-right: 316px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
		}
	}

	&__payment-methods {
		padding: $gap-large;

		p {
			@include wp-small-button;
			color: $gray-700;
			margin-top: 0;
		}

		&__icons {
			display: grid;
			column-gap: $gap-smaller;
			row-gap: $gap;
			grid-template-columns: repeat( auto-fill, minmax( 39px, 1fr ) );

			img {
				height: 24px;
				border: 1px solid $gray-300;
				border-radius: 2px;
			}

			span {
				@include wc-others-caption;
				color: $gray-700;
				display: none;

				@media screen and ( min-width: $break-small ) {
					display: initial;
					white-space: nowrap;
					align-self: end;
				}
			}
		}
	}

	&__details {
		padding: $gap-larger $gap-large;

		.wcpay-component-tip-box {
			margin-top: $gap-large;
		}
	}

	&__steps {
		@media screen and ( min-width: $break-small ) {
			display: grid;
			grid-template-columns: repeat( 3, 1fr );
			column-gap: 20px;
		}
	}

	&__step {
		padding-top: $gap-smaller;
		display: grid;
		grid-template-rows: auto 1fr auto;

		span {
			background-color: $studio-woocommerce-purple-0;
			color: $studio-woocommerce-purple-60;
			font-size: 20px;
			font-weight: 800;
			border-radius: 12px;
			height: 40px;
			width: 40px;
			display: inline-block;
			text-align: center;
			line-height: 40px;
			margin-bottom: $gap-smaller;
		}

		h3 {
			@include wp-subtitle-small;
			color: $gray-900;
			margin-bottom: 0;
		}

		p {
			@include wc-others-caption;
			color: $gray-800;
			margin-top: $gap-smallest;
		}
	}

	&__info-modal {
		&.components-modal__frame {
			max-width: 700px;
		}

		.components-notice {
			margin: $gap 0 0;
			padding: $gap-small $gap-small 0;
		}

		hr {
			margin: $gap-large 0;
		}

		&__footer {
			@include modal-footer-buttons;
		}
	}

	&__incentive {
		background: #faf8ff;
		border: 1px solid #ae7dd0;
		border-radius: 2px;
		padding: $gap-large;
		margin-bottom: $gap-large;

		&-pill {
			display: inline-block;
			padding: 0 $gap-small;
			border: 1px solid #1d2327; // Gray 90
			border-radius: 16px;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 22px;
			font-weight: 600;
			color: $gray-900;
			margin-bottom: $gap-small;
		}

		p {
			@include wc-others-caption;
			color: #50575e;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media screen and ( min-width: $break-small ) {
			h2 {
				margin-right: 10%;
			}

			p {
				margin-right: 15%;
			}
		}
	}
}
