.connect-account {
	.connect-account__card {
		.woocommerce-card__body {
			line-height: 1.5;
			p,
			h2 {
				text-align: center;
			}
			h2 {
				font-size: 20px;
				font-size: 1.2rem;
				font-weight: 300;
				margin: 16px 0 8px;
			}
		}

		.hero-image {
			margin: 16px auto 24px;
			display: block;
		}

		.connect-account__description {
			margin: 0 0 16px;
			font-weight: 300;
			font-size: 14px;
			color: $studio-gray-60;
		}

		.connect-account__terms {
			margin: 0 0 16px;
			font-weight: 300;
			font-size: 12px;
			color: $studio-gray-60;
		}

		.connect-account__action {
			margin-top: 16px;

			.is-button {
				height: 32px;
				line-height: 30px;
				padding: 0 20px 2px;
			}
		}
	}
}
