.wcpay-connect-account-page-payment-methods {
	svg {
		display: inline-block;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}
}

.connect-page-onboarding-steps {
	@include breakpoint( '>660px' ) {
		display: flex;
		flex-direction: row;
	}

	.connect-page-onboarding-steps-item {
		margin-top: 30px;

		@include breakpoint( '>660px' ) {
			margin-top: 0;
			margin-right: 80px;
		}
	}
}

.wcpay-connect-account-page-step-number {
	background-color: $studio-woocommerce-purple-50;
	color: $white;
	font-size: 20px;
	border-radius: 50%;
	min-height: 32px;
	min-width: 32px;
	display: inline-block;
	text-align: center;
	line-height: 32px;
}

.connect-account {
	h2 {
		font-size: 20px;
		font-weight: 300;
	}

	h3 {
		font-size: 1em;
	}

	.connect-account__card {
		.woocommerce-card__body {
			padding: 0;

			.content {
				padding: 0 24px 24px 24px;

				a {
					text-decoration: none;
				}

				hr {
					position: relative;
					left: -24px;
					width: calc( 100% + 48px );
				}
			}
		}
	}

	.connect-account__action {
		margin-top: 16px;
		margin-bottom: 0;
	}

	.connect-account__steps {
		.woocommerce-card__body {
			padding: 24px;
		}

		h2 {
			margin-top: 0;
		}
	}
}
