/** @format */

.components-card__header {
	font-size: 20px;
}

.components-card {
	margin-bottom: 24px;
}

.payment-details-summary {
	display: flex;
	@include breakpoint( '<660px' ) {
		flex-direction: column;
	}

	.payment-details-summary__section {
		flex-grow: 1;
	}

	.payment-details-summary__amount {
		@include font-size( 32 );
		font-weight: 300;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;

		.payment-details-summary__amount-currency {
			@include font-size( 16 );
			text-transform: uppercase;
			margin: 0 0.5rem;
			color: $studio-gray-60;
		}
	}

	.payment-details-summary__breakdown {
		p {
			@include font-size( 14 );
			color: $gray-700;
			display: inline-flex;
			margin: 0.25rem 1rem 0 0;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 12px;
		}
		p:last-child {
			margin-right: 0;
		}

		&__fee-tooltip {
			display: flex;
			flex-direction: column;
			padding: $grid-unit-15;
			gap: $grid-unit-10;
			font-weight: 400;
			font-size: 14px;

			& > *:last-child {
				padding-top: $grid-unit-10;
				border-top: 1px solid $gray-200;
			}

			label {
				margin-right: $grid-unit-20;
				color: $gray-700;
			}
		}
	}

	.payment-details-summary__fraud-outcome-action {
		display: flex;
		justify-content: flex-end;

		button + button {
			margin-left: 8px;
		}
	}

	.payment-details-summary__id {
		height: 100%;
		margin-top: 8px;
		color: $studio-gray-40;
		display: flex;
		align-items: start;
		justify-content: initial;
		@include breakpoint( '>660px' ) {
			justify-content: flex-end;
		}
	}
}

.woocommerce-list--horizontal {
	margin-top: 0 !important;
}

.payment-details-capture-notice {
	background-color: #fff8ee;
}

.payment-details-capture-notice__section {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	@include breakpoint( '<660px' ) {
		flex-direction: column;
		gap: 10px;
	}
}
