/** @format */

.components-card__header {
	font-size: 20px;
}

.components-card {
	margin-bottom: 24px;
}

.payment-details-summary {
	display: flex;
	@include breakpoint( '<660px' ) {
		flex-direction: column;
	}

	.payment-details-summary__section {
		flex-grow: 1;
	}

	.payment-details-summary__amount {
		@include font-size( 32 );
		font-weight: 300;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;

		.payment-details-summary__amount-currency {
			@include font-size( 16 );
			text-transform: uppercase;
			margin: 0 0.5rem;
			color: $studio-gray-60;
		}
	}

	.payment-details-summary__breakdown {
		p {
			@include font-size( 14 );
			color: $gray-50;
			display: inline-block;
			margin: 0.25rem 1rem 0 0;
		}
		p:last-child {
			margin-right: 0;
		}
	}

	.payment-details-summary__id {
		height: 100%;
		margin-top: 8px;
		color: $studio-gray-40;
		display: flex;
		align-items: start;
		justify-content: initial;
		@include breakpoint( '>660px' ) {
			justify-content: flex-end;
		}
	}
}

.woocommerce-list--horizontal {
	margin-top: 0 !important;
}
