.wcpay-setup-real-payments-modal {
	&.components-modal__frame {
		width: 512px;

		@media screen and ( max-width: $break-small ) {
			height: fit-content;
			margin: auto auto;
			max-width: 90vw;
		}
	}

	.components-modal__content {
		box-sizing: border-box;
		max-width: 600px;
		margin: 0;
		padding: $gap-smaller $gap-larger $gap-larger;
	}

	.components-modal__header {
		position: initial;
		padding: 24px 0 16px 0;
		height: auto;
		border: 0;

		h1 {
			@include wp-title-small;
			font-weight: 300;
			margin-bottom: $gap-smaller;
		}
	}

	&__title {
		@include wp-title-small;
	}

	&__content {
		display: flex;
		gap: $gap-large;
		flex-direction: column;
		padding: $gap-small 0 $gap 0;

		&__item {
			p {
				line-height: 20px;
				margin: 0;
			}
		}

		&__item-flex {
			display: flex;
			gap: $gap;
			padding-right: $gap-large;

			&__description {
				color: $gray-700;
			}
			p {
				line-height: 20px;
				margin: 0;
			}
		}
	}

	&__footer {
		@include modal-footer-buttons;
		padding-top: $gap-large;
	}
}
