.wcpay-setup-real-payments-modal {
	color: $gray-900;
	fill: $studio-woocommerce-purple-50;

	.components-modal__content {
		box-sizing: border-box;
		max-width: 600px;
		margin: auto;
		padding: $gap-smaller $gap-larger $gap-larger;
	}

	.components-modal__header {
		position: initial;
		padding: 0;
		border: 0;

		h1 {
			@include wp-title-small;
			margin-bottom: $gap-smaller;
		}
	}

	&__title {
		@include wp-title-small;
	}

	&__headline {
		font-weight: 600;
	}

	&__content {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: $gap;
		padding: $gap-smallest;
		align-items: center;
		margin-bottom: $gap-large;
	}

	&__footer {
		@include modal-footer-buttons;
	}
}
