.survey-section {
	.components-modal__header {
		margin-bottom: 16px;
	}
	.components-modal__content {
		padding-bottom: 16px;
	}
	.comments-text-field {
		margin-top: 2em;
		label {
			font-weight: 600;
		}
		textarea {
			height: 4rem;
		}
	}
	.disable-success-notice {
		background: #e6f2e8;
		padding: 16px;
		border-radius: 4px;

		p {
			display: inline;
			margin-left: 20px;
		}

		.disable-success-icon {
			display: inline;
			color: #4ab866;
		}
	}
	.survey-bottom-disclaimer {
		font-style: italic;
	}
}
