.survey-section {
	.survey-radiocontrols > div > label {
		font-weight: 600;
	}

	.comments-text-field {
		margin-top: 2em;

		label {
			font-weight: 600;
		}

		textarea {
			height: 4rem;
		}
	}

	.ssr-label {
		font-weight: 600;
	}

	.ssr-text-field {
		margin-top: 1em;

		textarea {
			height: 4rem;
		}
	}

	.survey-bottom-disclaimer {
		font-size: 12px;
		font-style: normal;
		color: #757575;
	}
}
