.payment-method {
	&__text {
		flex: 1 1 auto;
	}

	&__label {
		font-size: 14px;
		line-height: 20px;
	}

	&__description {
		color: $studio-gray-50;
		font-size: 13px;
		line-height: 16px;
		margin-top: 4px;
	}

	&__actions {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&__action {
		&#{&} {
			&#{&} {
				&:not( :last-child ) {
					margin-right: 24px;
				}
			}
		}

		.dashicon {
			fill: #a2aab2;
		}
	}

	&__icon-container {
		align-items: center;
		display: flex;
		flex: 0 1 58px;
		justify-content: center;
		margin-right: 16px;

		&--has-icon {
			border: 1px solid $studio-gray-5;
			border-radius: 2px;
		}
	}
}
