.payment-method {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	@include breakpoint( '>660px' ) {
		flex-wrap: nowrap;
	}

	&__text {
		flex: 1 1 100%;
		order: 1;

		@include breakpoint( '>660px' ) {
			flex: 1 1 auto;
			margin-right: 25px;
			order: 3;
		}
	}

	&__label {
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;

		&#{&} {
			&#{&} {
				color: var( --wp-admin-theme-color );
				margin-bottom: 4px;
				text-decoration: none;
			}
		}
	}

	&__description {
		color: $studio-gray-50;
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 14px;

		@include breakpoint( '>660px' ) {
			margin-bottom: 0;
		}
	}

	&__actions {
		align-items: center;
		display: flex;
		justify-content: center;
		order: 3;

		@include breakpoint( '>660px' ) {
			order: 4;
		}
	}

	&__action {
		&#{&} {
			&#{&} {
				margin-right: 25px;

				& + & {
					margin-right: 0;
				}
			}
		}

		&.manage {
			&#{&} {
				color: var( --wp-admin-theme-color );
				text-decoration: none;
			}
		}

		&.delete {
			svg {
				fill: #a2aab2;
			}
		}
	}

	&__icon {
		background: no-repeat center center;
		background-size: contain;
		border-radius: 2px;
		box-shadow: 0 0 0 1px #ddd;
		display: none;
		flex: 0 0 63.69px;
		height: 40px;
		margin: 1px 17px 1px 1px; // 1px to accommodate for box-shadow

		@include breakpoint( '>660px' ) {
			display: flex;
			order: 2;
		}
	}

	&.cc &__icon {
		background-image: url( '../../../assets/images/payment-methods/cc.svg' );
		box-shadow: none;
	}

	&.giropay &__icon {
		background-image: url( '../../../assets/images/payment-methods/giropay.svg' );
	}

	&.sepa &__icon {
		background-image: url( '../../../assets/images/payment-methods/sepa.svg' );
	}

	&.sofort &__icon {
		background-image: url( '../../../assets/images/payment-methods/sofort.svg' );
	}

	.orderable-list__drag-handle {
		margin-left: -10px;
		order: 2;

		@include breakpoint( '>660px' ) {
			margin-left: 0;
			order: 1;
		}
	}
}
