.woocommerce-payments__onboarding_location_check-modal {
	.components-modal__header {
		height: auto;
		padding: 12px 24px;

		.components-modal__header-heading {
			font-size: 24px;
			line-height: 32px;
		}
	}

	.woocommerce-payments__onboarding_location_check-modal-message {
		font-size: 14px;
		line-height: 21px;
		margin: 0 0 24px 0;
	}

	.woocommerce-payments__onboarding_location_check-footer {
		@include modal-footer-buttons;
	}
}
