.woocommerce-payments__onboarding_location_check-modal {
	.woocommerce-payments__onboarding_location_check-modal-message {
		font-size: 14px;
		line-height: 21px;
		margin: 0 0 24px 0;
	}

	.woocommerce-payments__onboarding_location_check-footer {
		@include modal-footer-buttons;
	}
}
