.woocommerce-woopayments-onboarding-modal {
	width: 100%;
	height: 100%;
	max-height: calc( 100% - 96px );
	margin: 48px;
	border-radius: 8px;
	background: $gray-100;

	.components-modal__header + div {
		height: 100%;
	}

	&__wrapper {
		display: flex;
		height: 100%;
	}

	&__sidebar {
		width: 280px;

		h2 {
			margin-left: 24px;
			margin-top: 60px;
		}

		&-navigation {
			margin: 0 20px;

			li {
				background: $gray-200;
				padding: 6px 8px;

				a {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}

	&__content {
		flex: 1;
		margin: 16px;
		margin-left: 0;
		box-shadow: none;

		&-wrapper {
			width: 700px;
			margin: 20px auto;
		}
	}

	& > .components-modal__content {
		padding: 0;
		margin-top: 0;
	}
}
