.payment-confirm-illustration {
	&__wrapper {
		margin: 80px auto 24px auto;
		width: 35%;
	}

	&__illustrations {
		position: relative;
		margin: 0 auto;
		width: 122px;

		&::before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: no-repeat
				url( '../../../assets/images/cards/unknown.svg' );
			transform: translate( -22%, -50% );
			width: 135px;
			height: 105px;
		}
	}

	&__payment-icon {
		position: relative;
		width: 100%;
		height: auto;
		border-radius: 5%;

		&.has-border {
			background: $white;
			border: 1px solid $gray-300;
		}
	}

	&__payment-question-mark-icon {
		position: absolute;
		top: -24px;
		right: -24px;
		width: 45px;
		height: auto;
		clip-path: circle( 19px );
		fill: #f0b849;
		background: $white;
		border-radius: 999px;
	}
}
