/* stylelint-disable selector-id-pattern */
#contact_details {
	float: none;
}

#contact_details + #customer_details {
	display: block;
}
/* stylelint-enable selector-id-pattern */

#contact-fields,
.woopay-billing-email {
	.wc-block-components-text-input,
	.woocommerce-input-wrapper {
		display: inline-block;
		position: relative;
		width: 100%;

		.wc-block-components-spinner {
			right: 10px;
			width: 24px;
		}
	}
}

.woopay-login-session-iframe {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	z-index: 355000;
	border: 0;
	background: #fff;
	visibility: hidden;
	&.open {
		transition: top 500ms;
		visibility: visible;
	}
}

@media screen and ( min-width: 768px ) {
	.woopay-login-session-iframe-wrapper {
		position: fixed;
		background: rgba( 117, 117, 117, 0.6 );
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		content: ' ';
		display: block;
		z-index: 355000;

		.woopay-login-session-iframe {
			transition: none;
			height: 90vh;
			max-height: 520px;
			position: absolute;
			max-width: 374px;
			border-radius: 8px;
		}
	}
}

.woopay-otp-iframe {
	transition: top 500ms;
	width: 100%;
	height: 100dvh; /* stylelint-disable-line unit-no-unknown */
	position: fixed;
	top: 100%;
	left: 0;
	z-index: 355000;
	border: 0;
	background: #fff;
	&.open {
		top: 0;
	}
}

.woopay-otp-iframe-wrapper {
	.arrow {
		position: fixed;
		top: 100%;
	}
}

@media screen and ( min-width: 768px ) {
	.woopay-otp-iframe-wrapper {
		position: fixed;
		background: rgba( 117, 117, 117, 0.6 );
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		content: ' ';
		display: block;
		z-index: 355000;

		.woopay-otp-iframe {
			transition: none;
			height: 90vh;
			max-height: 650px;
			position: absolute;
			max-width: 374px;
			border-radius: 8px;
			right: 50px;
			left: auto;
		}

		.arrow {
			position: absolute;
			right: calc( 15px / 2 );
			background: transparent;
			width: 0;
			height: 0;
			z-index: 355001;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-right: 15px solid #fff;
		}
	}
}

.woopay-express-button {
	font-size: 13px;
	font-weight: 500;
	font-family: 'SF Pro Text', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial',
		sans-serif;
	letter-spacing: 0.8px;
	height: 40px;
	background: #f2deff !important;
	border: 1px solid $white !important;
	color: $studio-woocommerce-purple-60 !important;
	width: 100%;
	border-radius: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;

	&:hover {
		background: #d9baff !important;
		cursor: pointer;
	}

	svg {
		fill: $studio-woocommerce-purple-60;
		position: relative;
		top: 1px;
	}

	&[data-theme='dark'] {
		background: $studio-woocommerce-purple-60 !important;
		color: $white !important;
		border-color: $studio-woocommerce-purple-60 !important;

		svg {
			fill: $white;
		}
		&:hover {
			background: #533582 !important;
		}
	}

	&[data-theme='light-outline'] {
		border-color: #674399 !important;
		&:hover {
			background: #d9baff !important;
		}
	}

	&[data-size='medium'] {
		font-size: 14px;
		height: 48px;

		svg {
			top: 2px;
			width: auto;
			height: 27px;
		}
	}

	&[data-size='large'] {
		font-size: 16px;
		height: 56px;

		svg {
			top: 3px;
			width: auto;
			height: 32px;
		}
	}

	&[data-type='buy'],
	&[data-type='book'],
	&[data-type='donate'] {
		svg {
			margin-left: 6px;
		}
		&[data-size='large'] {
			svg {
				margin-left: 8px;
			}
		}
	}
}
