.wcpay-account-balances__header {
	flex-flow: row wrap;
}

.wcpay-account-balances__header__greeting {
	white-space: nowrap;
}

.wcpay-account-balances__header__greeting__logo {
	display: block;
	margin-top: 3px;
}

.wcpay-account-balances__balances {
	border-top: 1px solid $gray-200;
}

.wcpay-account-balances__balances > * + * {
	border-left: 1px solid $gray-200;
}

.wcpay-account-balances__balances__item {
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	flex-grow: 1;
}
