.wcpay-account-balances__header.components-card__header.is-size-medium {
	// Override the default padding to adjust for additional margins on child elements.
	padding-top: 8px;
	padding-bottom: 8px;
}

.wcpay-account-balances__header__flex {
	// Using row-reverse to reverse the order of the elements so that the logo is
	// last in the DOM, but first in the visual order when wrapping.
	flex-flow: row-reverse wrap;

	*:first-child {
		order: 2;
		margin-right: auto;
	}

	*:last-child {
		order: 1;
		margin-left: 8px;
	}
}

.wcpay-account-balances__header__flex__logo {
	display: block;
	margin-top: 14px;
	margin-bottom: 10px;
}

.wcpay-account-balances__header__flex__greeting {
	margin-top: 8px;
	margin-bottom: 8px;
}

.wcpay-account-balances__balances {
	border-top: 1px solid $gray-200;
}

.wcpay-account-balances__balances > * + * {
	border-left: 1px solid $gray-200;
}

.wcpay-account-balances__balances__item {
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	flex-grow: 1;
}

@media screen and ( max-width: 500px ) {
	// On small devices, the logo and greeting should be centered.
	.wcpay-account-balances__header__flex {
		flex-direction: column;
		text-align: center;

		*:first-child {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
