.wcpay-account-balances__balances__item {
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	padding-left: 16px;

	&__title {
		font-size: 12px;
		line-height: 16px;
		color: $gray-600;
		display: flex;
		align-items: center;
		margin-top: 0;
	}

	&__amount {
		font-weight: 500;
		font-size: 20px;
		margin: 0;
		color: $gray-900;
	}

	@include breakpoint( '<660px' ) {
		padding-left: 0;
		&:not( :first-child ) {
			padding-top: 16px;
		}
	}
}

.wcpay-account-balances__instant-deposit-notice .components-notice__content {
	margin-right: 0;
}

.wcpay-account-balances__instant-deposit {
	border-top: 1px solid $gray-200;
	padding: 24px;
}

.wcpay-account-balances__balances {
	display: flex;
	margin-bottom: 0;

	& > * + * {
		border-left: 1px solid $gray-200;
	}

	.wcpay-account-balances__balances__item__tooltip {
		line-height: 20px;
	}

	.wcpay-account-balances__balances__item__tooltip a {
		text-decoration: none;
	}

	.wcpay-account-balances__balances-total-balance-tooltip-notice {
		margin-top: 10px;
		margin-bottom: 10px;

		&.components-notice {
			padding: 8px;
		}

		.components-notice__content {
			font-size: 12px;
			white-space: nowrap;
			color: $wp-blue-70;
			margin-right: 0;
		}
	}

	@include breakpoint( '<660px' ) {
		flex-direction: column;
		gap: 16px;
		& > * + * {
			border-left: none;
			border-top: 1px solid $gray-200;
		}
	}
}

.components-card.wcpay-account-balances {
	margin-bottom: 0;
	box-shadow: none;
}
