.wcpay-account-balances__header.components-card__header.is-size-medium {
	// Override the default padding to adjust for additional margins on child elements.
	padding-top: 8px;
	padding-bottom: 8px;
}

.wcpay-account-balances__header__flex {
	// Using row-reverse to reverse the order of the elements so that the logo is
	// last in the DOM, but first in the visual order when wrapping.
	flex-flow: row-reverse wrap;

	*:first-child {
		order: 2;
		margin-right: auto;
	}

	*:last-child {
		order: 1;
		margin-left: 8px;
	}
}

.wcpay-account-balances__header__flex__logo {
	display: block;
	margin-top: 14px;
	margin-bottom: 10px;
}

.wcpay-account-balances__header__flex__greeting {
	margin-top: 8px;
	margin-bottom: 8px;
}

.wcpay-account-balances__balances {
	border-top: 1px solid $gray-200;
}

.wcpay-account-balances__balances > * + * {
	border-left: 1px solid $gray-200;
}

.wcpay-account-balances__balances__item {
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	flex: 1;

	&__title {
		font-size: 12px;
		line-height: 16px;
		color: $gray-600;
	}

	&__amount {
		font-weight: 500;
		font-size: 20px;
		line-height: 0px;
		color: $gray-900;
	}
}

.wcpay-account-balances__balances__item__title {
	display: flex;
	align-items: center;
}

.wcpay-account-balances__balances__item__tooltip-button {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-left: 0.5em;

	&__icon {
		fill: var( --wp-admin-theme-color );
	}
}

.wcpay-account-balances__balances__item__tooltip {
	// To be removed when @wordpress/components is upgraded to 17.0.0.
	.components-visually-hidden {
		border: 0;
		clip: rect( 1px, 1px, 1px, 1px );
		-webkit-clip-path: inset( 50% );
		clip-path: inset( 50% );
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal;
	}
}

.wcpay-account-balances__instant-deposit {
	border-top: 1px solid $gray-200;
	padding: 24px;
}

@media screen and ( max-width: 500px ) {
	// On small devices, the logo and greeting should be centered.
	.wcpay-account-balances__header__flex {
		flex-direction: column;
		text-align: center;

		*:first-child {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
