.express-checkouts {
	.wcpay-card-body {
		padding: 0;
	}

	.express-checkouts-list {
		.express-checkout {
			.loadable-checkbox__icon .gridicons-notice-outline {
				fill: #f0b849;
				margin-bottom: -5px;
				margin-left: -4px;
			}

			.payment-method-item__action {
				@include breakpoint( '<660px' ) {
					margin-top: 1.4em;
				}
			}
		}
	}
}
