.express-checkouts {
	.wcpay-card-body {
		padding: 0;
	}

	.express-checkouts-list {
		.express-checkout {
			margin: 0;
			padding: 24px;
			background: #fff;

			&__label-container {
				display: flex;
				flex-wrap: wrap;
			}

			&__text-container {
				display: flex;

				@include breakpoint( '<660px' ) {
					flex-direction: column;
				}
			}

			&__row {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: nowrap;
			}

			&__notice {
				margin-top: 16px;
			}

			&__description {
				color: #757575;
				font-size: 12px;
				padding: 1px;
				margin-right: 17px;

				@include breakpoint( '<660px' ) {
					margin-top: 10px;
				}
			}

			&:not( :last-child ) {
				box-shadow: inset 0 -1px 0 #e8eaeb;
			}

			&__checkbox {
				display: flex;
				align-items: center;
				justify-content: center;

				label {
					display: none;
				}

				.components-base-control__field {
					margin: 0 4px 0 0;
				}

				@include breakpoint( '<660px' ) {
					align-self: baseline;
					margin-top: 3px;
				}
			}

			&__icon {
				border-radius: 2px;
				flex: 0 0 63.69px;
				height: 40px;
				margin: 1px 17px 1px 1px; // 1px to accommodate for box-shadow
				box-shadow: 0 0 0 1px #ddd;

				@include breakpoint( '>660px' ) {
					display: flex;
				}

				@include breakpoint( '<660px' ) {
					height: 30px;
					flex: 0;
					margin: 0 10px 0 0;
					img {
						height: 30px;
					}
				}
			}

			&__icons {
				display: flex;
				.express-checkout__icon {
					flex: unset;
					width: 29px;
					&:not( :last-child ) {
						margin-right: 4px;
					}
					img {
						width: 100%;
					}
				}
			}

			&__label {
				display: inline-block;
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
				color: $gray-900;
				margin-bottom: 4px;
			}

			&__label-mobile {
				display: none;
				@include breakpoint( '<660px' ) {
					display: block;
					align-self: flex-end;
				}
			}

			&__label-desktop {
				display: none;
				@include breakpoint( '>660px' ) {
					display: block;
				}
			}

			&__link {
				padding: 12px;
				border: 1px solid #007cba;
				border-radius: 2px;
				font-size: 12px;
				height: 18px;
				align-self: center;

				a {
					text-decoration: none;
					white-space: nowrap;
				}

				@include breakpoint( '<660px' ) {
					align-self: flex-start;
					margin-top: 20px;
				}
			}
			&__subgroup {
				display: flex;
				align-items: center;
				&:not( :last-child ) {
					margin-bottom: 1.4em;
				}

				@include breakpoint( '<660px' ) {
					align-items: flex-start;
					flex-wrap: wrap;
				}
			}
		}
	}
}
