.account-status__info__green {
	fill: $studio-green-50;
	color: $studio-green-50;
}

.account-status__info__red {
	fill: $studio-red-60;
	color: $studio-red-60;
}

.account-status__info__yellow {
	fill: $studio-yellow-30;
	color: $studio-yellow-30;
}
