/** @format */
.woocommerce-account-status-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 22px 16px 22px 16px;
}
.woocommerce-account-status-header .title {
	font-size: 16px;
	line-height: 24px;
	color: $gray-80;
}
.woocommerce-account-status-header div {
	padding: 0;
	height: 24px;
	margin: 0 12px 0 0;
}
.woocommerce-account-status-header-controls {
	flex-grow: 1;
	text-align: right;
}
.woocommerce-account-status-header-controls button.components-button {
	text-decoration: none;
}
.woocommerce-account-status-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 2em;
	padding-right: 16px;
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 8px;
}
.woocommerce-account-status-item-label {
	color: $gray-900;
	margin: 0 4px;
	width: 130px;
}
.woocommerce-account-status-item-value {
	color: $gray-700;
	flex-grow: 3;
	text-align: left;
	margin-left: 1.6rem;
	line-height: 16px;
}
.woocommerce-account-status-item-value {
	svg {
		margin: 0 0.2rem;
		position: relative;
	}

	span {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 24px;
	}
}
