/** @format */
.woocommerce-account-status__controls .components-button.is-link {
	text-decoration: none;
}
.woocommerce-account-status-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 2em;
	padding-right: 16px;
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 8px;
}
.woocommerce-account-status-item__label {
	color: $gray-900;
	margin: 0 4px;
	width: 130px;
}
.woocommerce-account-status-item__value {
	color: $gray-700;
	flex-grow: 3;
	text-align: left;
	margin-left: 1.6rem;
	line-height: 16px;

	svg {
		margin: 0 0.2rem;
		position: relative;
	}

	span {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 24px;
	}
}
