.payment-method-settings {
	&__breadcrumbs {
		margin-bottom: 40px;
	}

	&__option-muted-text {
		color: #757575;
	}

	&__option-help-text {
		color: #757575;
		padding-left: 30px;

		@media ( min-width: 600px ) {
			padding-left: 26px;
		}
	}

	&__cta-selection {
		.components-base-control__label {
			// hack until the `hideLabelFromVision` is fixed for radio controls in Gutenberg
			display: none;
		}
	}

	&__preview {
		border: 1px dashed #ddd;
		box-sizing: border-box;
		border-radius: 3px;
		background-color: #f0f0f0;
		padding: 16px;
	}

	&__preview-help-text {
		font-style: italic;
	}

	&__icon {
		border-radius: 2px;
		display: flex;
		width: 64px;
		height: 40px;
		margin: 1px 17px 1px 1px; // 1px to accommodate for box-shadow
		box-shadow: 0 0 0 1px #ddd;
		background: #fff;

		svg {
			display: inline-block;
		}
	}

	&__location {
		margin-bottom: 26px;
	}
}

.components-radio-control__input[type='radio']:checked::before {
	box-sizing: border-box;
}

.platform-checkout-settings {
	.components-base-control:first-child {
		margin-bottom: 2em;
	}

	&__custom-message-wrapper {
		position: relative;

		.components-base-control__field .components-text-control__input {
			padding-right: 50px;
			max-width: 75%;

			@media ( min-width: 783px ) {
				max-width: 52%;
			}
		}

		.input-help-text {
			position: absolute;
			right: 27%;
			top: 42px;
			font-size: 12px;
			color: #757575;

			@media ( min-width: 783px ) {
				right: 50%;
				top: 38px;
			}
		}
	}
}
