.payment-method-settings__breadcrumbs {
	margin-bottom: 40px;
}

#wcpay-payment-method-settings-container {
	margin-top: 24px;
}

.components-radio-control__input[type='radio']:checked::before {
	box-sizing: border-box;
}

.woocommerce-payments_digital-wallets__action {
	margin-top: 2em;
	float: right;
}
