.woopayments-account-details__header {
	//h2 {
	//	margin: 0;
	//	font-size: 16px;
	//	font-weight: 600;
	//}

	.edit-details .components-button.is-link {
		text-decoration: none;
	}
}

.woopayments-account-details__payout-status-item {
	line-height: 16px;
	flex-wrap: wrap;
	height: auto;
	min-height: 2em;
	margin-bottom: 8px;

	.item-label,
	.item-value {
		flex-shrink: 1;
		flex-basis: auto;
		width: min-content;
	}

	.item-label {
		color: $gray-900;
		min-width: 130px;
		white-space: nowrap;
	}

	@include breakpoint( '<480px' ) {
		.item-label {
			min-width: 80px;
		}
	}

	.item-value {
		color: $gray-700;
	}
}

.woopayments-account-details__banner {
	margin-bottom: 16px;
}
