/** @format */

.chip {
	@include font-size( 13 );
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
	line-height: 1.5;
	white-space: nowrap;

	&.chip-primary {
		background: $wp-blue-0;
		color: $wp-blue-70;
	}

	&.chip-success {
		background: $wp-green-0;
		color: $wp-green-70;
	}

	&.chip-light {
		background: $wp-gray-0;
		color: $wp-gray-80;
	}

	&.chip-alert {
		background: $wp-red-0;
		color: $wp-red-70;
	}

	&.chip-warning {
		background: $wp-yellow-0;
		color: $wp-yellow-70;
	}

	&.is-compact {
		// padding: 0.06rem 0.65rem 0.1rem;
	}
}
