/** @format */

.chip {
	display: inline-block;
	font-size: 0.875rem;
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;

	&.chip-primary {
		background: #E5F5FA;
		color: #00669B;
	}

	&.chip-light {
		background: #E2E4E7;
		color: #32373C;
	}

	&.chip-alert {
		background: #FAEAEA;
		color: #D94F4F;
	}
}
