/** @format */

.chip {
	@include font-size( 14 );
	display: inline-block;
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;
	white-space: nowrap;

	&.chip-primary {
		background: $blue-5;
		color: $blue-80;
	}

	&.chip-light {
		background: $gray-5;
		color: $gray-80;
	}

	&.chip-alert {
		background: $red-5;
		color: $red-80;
	}

	&.is-compact {
		padding: 0.06rem 0.65rem 0.1rem;
	}
}
