.wc-payment-gateway-method-name-woopay-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1;
}

.wc-payment-gateway-method-name-woopay-wrapper img {
	margin-top: 6px;
	margin-right: 9px;
}
