.wc-payment-gateway-method-name-woopay-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1;
}

.wc-payment-gateway-method-name-woopay-wrapper img {
	margin-right: 0.5rem;
	padding-top: 4px;
}
