.wc-payment-gateway-method-logo-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1;
	padding-top: 4px;
}

.wc-payment-gateway-method-logo-wrapper img {
	margin-left: 0.5rem;
	max-height: 20px;
}

.wc-payment-gateway-method-logo-wrapper.wc-payment-lpm-logo img {
	max-height: 26px;
}

.wc-payment-gateway-method-logo-wrapper.wc-payment-card-logo img {
	max-height: 1em;
}
