@keyframes tour-modal__appear-animation-mobile {
	0% {
		transform: translate( -50%, 32px );
	}

	100% {
		transform: translate( -50%, 0 );
	}
}

@keyframes tour-modal__appear-animation {
	0% {
		transform: translateY( 32px );
	}

	100% {
		transform: translateY( 0 );
	}
}

.tour-modal {
	box-sizing: border-box;
	position: absolute;
	width: 350px;
	background-color: #fff;
	z-index: 100001;
	animation: tour-modal__appear-animation 0.1s ease-out;
	animation-fill-mode: forwards;

	@media ( max-width: 600px ) {
		position: fixed;
		bottom: 0;
		left: 50% !important;
		margin: 0 auto 20px;
		top: auto !important;
		max-width: 350px;
		width: calc( 100% - 40px );
		animation: tour-modal__appear-animation-mobile 0.1s ease-out;
		animation-fill-mode: forwards;
	}

	&__overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba( 0, 0, 0, 0.35 );
		z-index: 100000;
		display: flex;
	}

	&__image {
		display: block;
		height: auto;
		max-width: 100%;

		&--mobile {
			display: block;

			@media ( min-width: 600px ) {
				display: none;
			}
		}
	}

	&__content {
		padding: 16px;

		h3 {
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			margin: 0;
		}

		p {
			font-size: 13px;
			line-height: 16px;
			margin: 8px 0 0;
		}

		p,
		h3 {
			color: #1e1e1e;
		}

		footer {
			align-items: center;
			display: flex;
			margin-top: 28px;
		}
	}

	&__counter {
		font-size: 12px;
		line-height: 16px;
		color: #757575;
	}

	&__buttons {
		margin-left: auto;

		button + button {
			margin-left: 8px;
		}
	}
}
