.notification-settings {
	.components-notice {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1em;
	}

	.settings__notifications-email-input,
	.settings__notifications-email-confirm-input {
		max-width: 500px;
	}
}
