.payment-delete-illustration {
	&__wrapper {
		margin: 59px auto 24px auto;
		width: 35%;
	}

	&__illustrations {
		position: relative;
		margin: 0 auto;
		width: 100px;

		&::before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: no-repeat url( 'assets/images/cards/unknown.svg?asset' );
			transform: translate( -22%, -50% );
			height: 78px;
			width: 110px;
			background-size: 110px 78px;
		}
	}

	&__payment-icon {
		position: relative;
		width: 100%;
		height: auto;
		border-radius: 5%;

		&.has-border {
			background: $white;
			border: 1px solid $gray-300;
		}
	}

	&__payment-cross-icon {
		position: absolute;
		top: -24px;
		right: -16px;
		width: 35px;
		height: auto;
		fill: #cc1818;
		background: #fff;
		border-radius: 999px;
	}
}
