.settings-section {
	display: flex;
	flex-flow: column;

	&:not( &:last-child ) {
		margin-bottom: 24px;
	}

	@include breakpoint( '>800px' ) {
		flex-flow: row;
	}

	&__details {
		flex: 0 1 auto;
		margin-bottom: 24px;
		max-width: 328px;

		@include breakpoint( '>800px' ) {
			flex: 0 0 33%;
			margin: 0 24px 0 0;
		}

		h2 {
			font-size: 16px;
			line-height: 24px;
		}

		p {
			font-size: 13px;
			line-height: 17.89px;
			margin: 12px 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	&__icons {
		> li {
			display: inline-block;
			margin: 0 5px 0 0;
		}

		svg {
			border-radius: 2px;
			box-shadow: 0 0 0 1px #ddd;
			height: auto;
			width: 38px;
		}
	}

	&__controls {
		flex: 1 1 auto;
	}
}
