.wcpay-settings-layout {
	margin: 24px auto 0;
	max-width: 1032px;
	display: flex;
	flex-flow: column;

	@include breakpoint( '>960px' ) {
		padding: 0 56px;
	}
}

body {
	&.woocommerce-payments-checkout-section {
		.wcpay-settings-layout {
			margin: 24px 0 0;
			max-width: 1184px;
		}
	}
}

@media ( min-width: 961px ) {
	body {
		&.woocommerce-payments-checkout-section {
			.wcpay-settings-layout {
				padding: 0 30px;
			}
		}
	}
}
