.deposit-status-chip {
	@include font-size( 12 );
	display: inline-block;
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;
	white-space: nowrap;

	&.chip-estimated {
		background: #f0f0f1;
		color: #2c3338;
	}

	&.chip-processing {
		background: #fcf9e8;
		color: #614200;
	}

	&.chip-sent {
		background: #edfaef;
		color: #005c12;
	}

	&.chip-failed {
		background: #fcf0f1;
		color: #8a2424;
	}

	&.is-compact {
		padding: 0.125rem 0.75rem;
	}
}
