.payment-method-checkbox {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	@include breakpoint( '<660px' ) {
		flex-wrap: wrap;
		justify-content: flex-start;
		row-gap: 5px;
	}

	margin-bottom: $grid-unit-20;
	&:last-child {
		margin-bottom: 0;
	}

	& > * {
		margin: 0 3px;

		@include breakpoint( '<660px' ) {
			flex-basis: 100%;
		}
	}

	.components-base-control__field {
		margin-bottom: 0;
	}

	&__statuses {
		margin-left: auto;
	}

	&__statuses,
	&__fees {
		margin-right: 3px;
		text-transform: uppercase;

		@include breakpoint( '<660px' ) {
			margin-left: 40px;
		}
	}

	&__info {
		> * {
			margin: 0;
			color: $gray-600;
		}
	}
}

.woocommerce-payments__payment-method-icon {
	@include breakpoint( '<660px' ) {
		svg {
			display: none;
		}
	}
}

.wcpay-pill {
	margin-left: $gap-smaller;
	text-transform: uppercase;
	&.payment-status-pending {
		border: 1px solid $studio-orange;
		color: $studio-orange;
	}
	&.payment-status-unrequested {
		border: 1px solid $studio-red;
		color: $studio-red;
	}
	&.payment-status-inactive {
		border: 1px solid $studio-red;
		color: $studio-red;
	}
}
