.discoverability-card {
	padding: 24px;
	background-color: #fff;

	@media ( min-width: 600px ) {
		background: #fff
			url( '../../../assets/images/fraud-protection/discoverability-banner@2x.png' )
			no-repeat center right;
		background-size: 215px 236px;
		padding-right: 236px;
	}

	&__new-feature-pill.wcpay-pill {
		color: #3c2861;
		border: 1px solid #3c2861;
		font-size: 12px;
		line-height: 14px;
		border-radius: 14px;
		margin: 0;
	}

	&__header {
		color: #271b3d;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		margin: 16px 0 8px;
	}

	&__body {
		color: #271b3d;
		font-size: 13px;
		line-height: 16px;
		margin: 0 0 16px;
	}

	&__actions {
		display: flex;
		flex-direction: column;

		@media ( min-width: 600px ) {
			flex-direction: row;
		}

		.components-button {
			padding-left: 12px;
			padding-right: 12px;

			& + .components-button {
				margin: 8px 0 0 0;

				@media ( min-width: 600px ) {
					margin: 0 0 0 8px;
				}
			}

			&.is-tertiary {
				color: #271b3d;
			}
		}
	}
}
