.wcpay-payments-activity {
	&__card__body {
		text-align: center;
		padding: 32px 0 !important;
		color: $studio-gray-30;
	}

	&__date__picker__wrapper {
		display: flex;
		flex-direction: row;
		padding: 16px;
	}

	&__date__picker__ranges {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		min-width: 150px;
		border-right: 1px solid $studio-gray-10;
	}

	&__date__picker__ranges > li:hover {
		cursor: pointer;
	}

	&__date__picker {
		padding: 16px;
	}

	&__label__span {
		margin-left: 4px;
		color: $studio-gray-30;
	}
}
