.wcpay-wizard-task__description-element.subheading {
	font-size: 0.9rem;
}

.wcpay-onboarding-select {
	margin-bottom: 8px;

	& button.components-custom-select-control__button {
		width: 100%;
		font-size: 17px;

		@media ( min-width: 600px ) {
			font-size: 14px;
		}
	}

	.components-custom-select-control__item {
		display: block;
	}

	& .components-custom-select-control__item-icon {
		margin-left: 0 !important;
	}
}

.wcpay-onboarding-setup-complete-task__buttons {
	margin-top: 1rem;
}
