body.wcpay-onboarding__body {
	background-color: #fff;

	.wcpay-onboarding-prototype {
		a {
			text-decoration: none;
		}

		.stepper {
			&__nav {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				height: 80px;
				padding-top: 8px;
				display: grid;
				grid-template-columns: 102px 1fr 102px;
				align-items: stretch;
				background-color: #fff;
				z-index: 10;

				&-button {
					cursor: pointer;
					background-color: transparent;
					border: none;
					display: flex;
					align-items: center;
					padding: $gap-large;
					font-size: 14px;

					.gridicons-chevron-left {
						margin-right: 2px;
					}

					&:last-child {
						justify-self: end;
					}
				}

				&-logo {
					justify-self: center;
					align-self: center;
					height: 28px;
				}
			}

			&__wrapper {
				max-width: 620px;
				margin: 116px auto 0;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__heading {
				@include wp-title-large;
				font-family: 'SF Pro Display', $default-font;
				color: $studio-gray-100;
				text-align: center;
			}

			&__subheading {
				font-size: 16px;
				line-height: 24px;
				font-weight: 400;
				text-align: center;
				color: $studio-gray-60;
				margin: $gap-small 0 $gap-largest;
			}

			&__content {
				max-width: 400px;

				@media screen and ( min-width: $break-mobile ) {
					width: 400px;
				}
			}

			&__cta {
				display: block;
				width: 100%;
				height: 40px; // Matching the updated WP Component. We can remove this when we update Components version.
				margin-top: $gap-large;
			}
		}

		.wcpay-inline-notice {
			background-color: $gray-0;
			&__content {
				display: flex;
				width: 100%;
				&__title {
					width: inherit;
				}
				&__actions {
					width: auto;
					padding-top: 0;
				}
			}
		}

		.wcpay-onboarding__tos {
			font-size: 12px;
		}

		.wcpay-component-grouped-select-control__button-value {
			color: $gray-900;
		}

		.complete-business-info-task__option-description {
			font-size: 12px;
			color: $gray-700;
			line-height: 16px;
			margin-top: 4px;
		}

		.loading-step {
			max-width: 520px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
		}

		.onboarding-mode__note {
			background-color: $wp-blue-0;
			padding: $gap-small $gap;
		}

		.onboarding-mode__sandbox {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.personal-details-notice {
			margin: 0;
		}

		.components-base-control,
		.components-custom-select-control,
		.wcpay-component-grouped-select-control {
			margin-bottom: $gap-large;
		}

		.components-form-field__error {
			margin: -$gap 0 $gap;
		}
	}

	.wcpay-component-onboarding-card {
		display: block;
		padding: $gap-large;
		background-color: #fff;
		border-radius: 3px;
		border: 1px solid $light-gray-500;
		margin-bottom: $gap-large;

		&__label {
			display: grid;
			grid-template-columns: 24px 1fr 25px;
			column-gap: $gap-small;
			align-items: center;
			font-weight: bold;

			&:not( :last-child ) {
				margin-bottom: $gap;
			}

			svg {
				fill: #bbb;
			}
		}

		&__footer {
			button {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		p {
			color: $gray-700;
		}
	}

	// Hide Jetpack's JITM (Just in time messages) banners for onboarding.
	.woocommerce-layout__jitm {
		display: none;
	}
}
