.wcpay-card-readers-preview-receipt-page {
	min-width: 340px;

	.card-readers-preview-receipt__preview {
		display: block;
		height: 454px;
		margin: auto;
		box-shadow: 0 10px 5px -10px rgba( 0, 0, 0, 0.2 );
		border: 1px solid rgba( 0, 0, 0, 0.1 );
	}
}
