img {
	&.payment-method__icon {
		outline: 1px solid rgba( 0, 0, 0, 0.25 );
		outline-offset: -1px;
		border-radius: 3px;
		display: block;

		&.no-outline {
			outline: none;
			border-radius: 0;
		}
	}
}