$is-info: #007cba;
$is-info-hover: #006ba1;
$is-warning: #bd8600;
$is-warning-hover: #a16f00;
$is-error: #cc1818;
$is-error-hover: #b30f0f;
$is-success: #00a32a;
$is-success-hover: #00982a;

.wcpay-banner-notice.components-notice {
	padding: 11px 0 11px 17px;
	border-left: none;
	border-radius: 2px;
	justify-content: flex-start;

	/* Shared styles for all variants */
	.wcpay-banner-notice__icon {
		display: flex;
		align-items: center;
		align-self: flex-start;
		min-height: auto;
		min-width: auto;
		margin-right: 12px;
		svg {
			width: 22px;
			height: 22px;
		}
	}
	.components-notice__content {
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.wcpay-banner-notice__content__actions {
		padding-top: 12px;
	}
	a.wcpay-banner-notice__action {
		text-decoration: none;
	}
	&.is-dismissible {
		padding-right: 12px;
	}
	.components-notice__dismiss {
		height: 24px;
		width: 24px;
		svg {
			width: 15px;
			height: 15px;
			fill: $gray-900;
		}
	}

	/* Specific styles for each variant */
	&.is-info {
		background-color: #f0f6fc;
		.wcpay-banner-notice__icon svg {
			fill: $is-info;
		}
		button.wcpay-banner-notice__action {
			box-shadow: inset 0 0 0 1px $is-info;
			&:hover {
				box-shadow: inset 0 0 0 1px $is-info-hover;
			}
		}
		.wcpay-banner-notice__action {
			color: $is-info;
			&:hover {
				color: $is-info-hover;
			}
		}
	}
	&.is-warning {
		background-color: #fcf9e8;
		.wcpay-banner-notice__icon svg {
			fill: $is-warning;
		}
		button.wcpay-banner-notice__action {
			box-shadow: inset 0 0 0 1px $is-warning;
			&:hover {
				box-shadow: inset 0 0 0 1px $is-warning-hover;
			}
		}
		.wcpay-banner-notice__action {
			color: $is-warning;
			&:hover {
				color: $is-warning-hover;
			}
		}
	}
	&.is-error {
		background-color: #fcf0f1;
		.wcpay-banner-notice__icon svg {
			fill: $is-error;
		}
		button.wcpay-banner-notice__action {
			box-shadow: inset 0 0 0 1px $is-error;
			&:hover {
				box-shadow: inset 0 0 0 1px $is-error-hover;
			}
		}
		.wcpay-banner-notice__action {
			color: $is-error;
			&:hover {
				color: $is-error-hover;
			}
		}
	}
	&.is-success {
		background-color: #edfaef;
		.wcpay-banner-notice__icon svg {
			fill: $is-success;
		}
		button.wcpay-banner-notice__action {
			box-shadow: inset 0 0 0 1px $is-success;
			&:hover {
				box-shadow: inset 0 0 0 1px $is-success-hover;
			}
		}
		.wcpay-banner-notice__action {
			color: $is-success;
			&:hover {
				color: $is-success-hover;
			}
		}
	}
}
