.wcpay-card-body {
	// increasing the specificity of the styles to override the Gutenberg ones
	&#{&} {
		padding: $grid-unit-30;
	}

	h4 {
		margin-top: 0;
		margin-bottom: 1em;
	}

	> * {
		margin-top: 0;
		margin-bottom: 1em;

		// fixing the spacing on the inputs and their help text, to ensure it is consistent
		&:last-child {
			margin-bottom: 0;

			> :last-child {
				margin-bottom: 0;
			}
		}
	}

	input,
	select {
		margin: 0;
	}

	// spacing adjustment on "Express checkouts > Show express checkouts on" list
	ul > li:last-child {
		margin-bottom: 0;

		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	// overriding the core styles to ensure that the select element can be clickable along its width.
	.wp-core-ui & select {
		max-width: none;
	}

	// spacing in the "Express checkouts" settings page
	.components-radio-control__option {
		margin-bottom: 10px;
		align-items: center;
		display: flex;
	}

	.components-base-control__help {
		margin-top: unset;
	}
}
