body {
	/* this can be removed after all the settings sections are converted to the new layout */
	&.woocommerce_page_wc-settings {
		&.woocommerce_page_wc-settings-checkout {
			background: #fff;
			.settings-content {
				background: #fff;
			}
			#wpbody-content {
				background: #fff;
			}
			#wpcontent {
				background: #fff;
			}

			.woopay-settings {
				.woopay-settings__appearance-card-settings {
					box-shadow: none;
				}
				.woopay-settings__appearance-card-preview {
					box-shadow: none;
				}
			}
			.woopay-settings__preview .preview-layout {
				border: 0;
			}
		}

		&.woocommerce_page_wc-settings-checkout {
			.components-surface {
				&.components-card {
					box-shadow: none;
				}
			}
		}
	}

	&.woocommerce_page_wc-settings-checkout {
		.components-surface.components-card {
			box-shadow: none;
		}
		.components-card__body {
			&.components-card-body.wcpay-card-body {
				padding: 0;
			}
		}
		.payment-method__list-item {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
