.payment-methods {
	&__available-methods-container {
		@include modal-footer-buttons-left;
		align-items: center;
	}

	&__available-methods {
		display: none;
		margin: 0;

		@include breakpoint( '>660px' ) {
			display: flex;
		}
	}

	&__available-method {
		border-radius: 2px;
		width: 38px;
		height: 24px;
		margin: 1px 5px 1px 1px; // 1px to accommodate for box-shadow

		&.has-icon-border {
			box-shadow: 0 0 0 1px #ddd;
		}

		&:last-child {
			margin-right: 1px; // 1px to accommodate for box-shadow
		}
	}

	&__express-checkouts {
		background: url( '../../assets/images/upe_preview_illustration.svg' )
			no-repeat right;
		background-color: #f7edf7;
		background-size: contain;

		&-get-started {
			margin-right: 16px;
		}
		&-actions {
			padding-top: 11px;
		}
	}

	&__pill {
		/* adapted from https://github.com/woocommerce/woocommerce-admin/blob/main/packages/components/src/pill/style.scss */
		font-size: 12px;
		border: 1px solid $studio-gray-70;
		border-radius: 28px;
		display: inline-block;
		padding: 2px 8px;
	}
}
