.payment-methods {
	&__available-methods-container {
		@include modal-footer-buttons-left;
		align-items: center;
	}

	&__available-methods {
		display: none;
		margin: 0;

		@include breakpoint( '>660px' ) {
			display: flex;
		}
	}

	&__available-method {
		border-radius: 2px;
		width: 38px;
		height: 24px;
		margin: 1px 5px 1px 1px; // 1px to accommodate for box-shadow

		&.has-icon-border {
			box-shadow: 0 0 0 1px #ddd;
		}

		&:last-child {
			margin-right: 1px; // 1px to accommodate for box-shadow
		}
	}

	.payment-methods-header {
		justify-content: flex-end;
	}

	&.loading-placeholder {
		animation: loading-fade 1.6s ease-in-out infinite;
		background-color: $light-gray-500;
		opacity: 0.5 !important;

		@media screen and ( prefers-reduced-motion: reduce ) {
			animation: none;
		}

		.payment-method {
			background-color: $light-gray-500;
		}
	}
}
