.disable-modal-section {
	.components-modal__header {
		margin-bottom: 16px;
	}
	.components-modal__content {
		padding-bottom: 16px;
	}
	.disable-modal-help-notice {
		background: #f0f6fc;
		padding: 16px;
		border-radius: 4px;

		p {
			display: inline;
			margin-left: 20px;
		}

		.disable-help-icon {
			display: inline;
			color: #007cba;
		}
	}
}
