.disable-modal-section {
	.disable-modal-help-notice {
		background: #f0f6fc;
		padding: 16px;
		border-radius: 4px;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
		flex-direction: row;

		p {
			display: inline;
			margin: 0 0 0 20px;
		}

		.disable-help-icon {
			display: inline;
			color: #007cba;
		}
	}

	.deactivating-payment-methods-list {
		min-height: 150px;

		> * {
			&:not( :last-child ) {
				margin-bottom: $grid-unit-10;
			}
		}
	}
}
