.wcpay-dispute-details, .wcpay-dispute-evidence {
	$horizontal-card-padding: 24px;

	.woocommerce-card__header, .woocommerce-card__body {
		padding: 16px $horizontal-card-padding;
	}

	.woocommerce-card__header {
		border-bottom: 1px solid $gray-5;
	}
	.woocommerce-card__title {
		padding: 3px 0;
		font-size: 20px;
		font-size: 1.2rem;
		font-weight: 300;
	}
	
	.woocommerce-card__body {
		> h3, > p {
			font-size: 1rem;
			letter-spacing: 0.012rem;
		}
		> p {
			font-weight: 300;
		}

		.woocommerce-card__footer {
			margin-left: -$horizontal-card-padding;
			margin-right: -$horizontal-card-padding;
			padding-left: $horizontal-card-padding;
			padding-right: $horizontal-card-padding;
		}
	}

	.is-button.is-large {
		height: 40px;
		line-height: 38px;
		font-size: 14px;
		font-weight: 500;
		padding: 0 15px 2px;
	}
	.is-button + .is-button {
		margin-left: 10px;
	}

	// Evidence form
	.components-base-control .components-base-control__label {
		font-size: 12px;
		color: $gray-40;
	}
	.components-base-control + .components-base-control {
		margin: 16px 0 0;
	}
}
