.wcpay-payment-request-wrapper {
	margin-top: 1em;
	width: 100%;

	&:first-child {
		margin-top: 0;
	}
}

.woocommerce-checkout .wcpay-payment-request-wrapper {
	margin-bottom: 1.5em;
}

.wcpay-payment-request-wrapper > div:not( :last-child ) {
	margin-bottom: 1em;
}
