.wcpay-payment-request-wrapper {
	margin-top: 1em;
	width: 100%;
	clear: both;

	&:first-child {
		margin-top: 0;
	}
}

// This fixes width calculation issues inside the iframe for blocks and shortcode pages.
.wcpay-payment-request-wrapper,
.wc-block-components-express-payment__event-buttons {
	.StripeElement iframe {
		max-width: unset;
	}
	list-style: none;
}

.woocommerce-checkout .wcpay-payment-request-wrapper {
	margin-bottom: 1.5em;
}

.wcpay-payment-request-wrapper > div:not( :last-child ) {
	margin-bottom: 1em;
}
