#wcpay-card-element {
	border: 1px solid #ddd;
	padding: 5px 7px;
	min-height: 29px;
	margin-bottom: 0.5rem;
}

.wcpay-card-mounted {
	background-color: #fff;
}

#payment .payment_method_woocommerce_payments .woocommerce-error {
	margin: 1rem 0;
}
