#payment .payment_method_woocommerce_payments .woocommerce-error {
	margin: 1rem 0;
}

.js-woopayments-copy-test-number {
	line-height: 1.2em;
	vertical-align: middle;
	border-radius: 0;
	border: none !important;
	// some themes might override the color on all `button`s - whose selector has higher specificity and our class selector.
	background-color: transparent !important;
	font-weight: normal;
	display: inline-flex;
	cursor: pointer;
	color: inherit;
	font-size: initial;
	padding: 2px 1px;
	align-items: center;

	span {
		margin-right: 4px;
	}

	i {
		order: 1;
		display: block;
		width: 1.2em;
		height: 1.2em;
		mask-image: url( 'assets/images/icons/copy.svg?asset' );
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: currentColor;
	}

	&:hover {
		background-color: transparent;
		opacity: 0.7;

		i {
			opacity: 0.7;
		}
	}

	&:active i {
		transform: scale( 0.9 );
	}

	&:focus {
		outline: none;
	}

	&.state--success {
		i {
			mask-image: url( 'assets/images/icons/check-green.svg?asset' );
		}
	}
}
