@import '@woocommerce/experimental/build-style/style.css';
.woocommerce-inbox-message__wrapper {
	.woocommerce-inbox-message__content {
		padding-bottom: 24px;
	}
	.woocommerce-inbox-message__actions {
		padding-top: 16px;
	}
}

// Adapted from woocommerce-admin:client/homescreen/style.scss
.components-card.woocommerce-task-card {
	.components-card__body.is-size-large {
		padding: 0;
	}

	.components-card__footer.is-size-large {
		padding: 0 $gap-smaller;
	}

	.wcpay-task-list.woocommerce-experimental-list {
		position: relative;

		.woocommerce-experimental-list__item {
			position: initial;
		}
	}
}

.wcpay-overview {
	.components-notice {
		margin: 24px 0;
	}

	.wcpay-connection-success {
		text-align: center;
		padding: $gap-large;
		padding-bottom: $gap;

		img {
			max-height: 73px;
			max-width: 100%;
		}

		h2 {
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0.7px;
			line-height: 28px;
			margin-bottom: 0;

			@media ( min-width: 783px ) {
				padding: 0 10%;
			}
		}

		p {
			color: $gray-700;
		}
	}

	// To be removed when @wordpress/components is upgraded to 17.0.0.
	.components-visually-hidden {
		border: 0;
		clip: rect( 1px, 1px, 1px, 1px );
		-webkit-clip-path: inset( 50% );
		clip-path: inset( 50% );
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal;
	}
}
