@import '@woocommerce/experimental/build-style/style.css';
.woocommerce-inbox-message__wrapper {
	.woocommerce-inbox-message__content {
		padding-bottom: 24px;
	}
	.woocommerce-inbox-message__actions {
		padding-top: 16px;
	}
}

// Adapted from woocommerce-admin:client/homescreen/style.scss
.components-card.woocommerce-task-card {
	.components-card__header.is-size-large,
	.components-card__header.is-size-medium {
		min-height: 63px;
		min-height: unset;
		display: grid;
		grid-template-columns: auto 24px;

		// IE doesn't support `align-items` on grid container

		& > * {
			align-self: center;
		}
	}

	.components-card__body.is-size-large {
		padding: 0;
	}

	.components-card__footer.is-size-large {
		padding: 0 $gap-smaller;
	}

	.wooocommerce-task-card__header {
		display: flex;

		.woocommerce-badge {
			margin-left: 16px;
		}
	}
}

.wcpay-overview {
	.components-notice {
		margin: 24px 0;
	}
}
