.wcpay-component-radio-card {
	cursor: initial;
	display: block;
	padding: $gap-large;
	background-color: #fff;
	margin-bottom: $gap-large;
	border-radius: 3px;
	border: 1px solid $light-gray-500;

	&.checked {
		box-shadow: 0 0 0 1px #007cba;
	}

	&__label {
		display: grid;
		grid-template-columns: 24px 1fr 25px;
		column-gap: $gap-smaller;
		align-items: center;
		font-weight: bold;

		svg {
			fill: #bbb;
		}

		input[type='radio'] {
			margin: 0;
			justify-self: flex-end;

			@media ( min-width: 783px ) {
				transform: scale( 1.25 );
			}

			&:focus {
				box-shadow: none;
			}
		}
	}
}
