/** @format */

.transaction-details-dispute-details-wrapper {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 5px;

	.transaction-details-dispute-details-body {
		padding: $grid-unit-20;

		.wcpay-inline-notice.components-notice {
			margin: 0 0 10px 0;

			&:last-child {
				margin-bottom: 24px;
			}
		}

		.dispute-summary-row {
			margin: 24px 0;

			&__response-date {
				display: flex;
				align-items: center;
				gap: var( --grid-unit-05, 4px );
				flex-wrap: wrap;
				&--warning {
					color: $wp-yellow-30;
					font-weight: 700;
				}
				&--urgent {
					font-weight: 700;
					color: $alert-red;
				}
			}
		}
	}
}
.dispute-reason-tooltip {
	p {
		&:first-child {
			font-weight: bold;
		}
		&:last-child {
			margin-bottom: 0;
		}
		margin: 0;
		margin-bottom: 8px;
	}
}

.transaction-details-dispute-footer {
	background-color: #f2f4f5;

	&__actions {
		flex-shrink: 0;
	}

	&--primary {
		background-color: $wp-blue-0;
	}
}

.wcpay-banner-notice.dispute-notice {
	margin: 0;
}
