/** @format */

.transaction-details-dispute-details-wrapper {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 5px;

	.transaction-details-dispute-details-body {
		padding: $grid-unit-20;
	}
}

.transaction-details-dispute-footer {
	background-color: #f2f4f5;

	&__actions {
		flex-shrink: 0;
	}

	&--primary {
		background-color: $wp-blue-0;
	}
}

.wcpay-banner-notice.dispute-notice {
	margin: 0;
}
