.wcpay-deposits-overview {
	.wcpay-deposits-overview__header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		/* Bring schedule closer to overview SummaryList */
		margin-bottom: -8px;

		button {
			margin-top: -12px;
		}
	}
	.wcpay-deposits-overview__schedule {
		@include font-size( 13 );
		color: $gray-50;
		margin: 0;
		.wcpay-deposits-overview__schedule-icon,
		.wcpay-deposits-overview__schedule-label,
		.wcpay-deposits-overview__schedule-value {
			vertical-align: middle;
		}
		.wcpay-deposits-overview__schedule-label {
			font-weight: 600;
		}
		.wcpay-deposits-overview__schedule-icon {
			margin-right: 8px;
			fill: $gray-50;
		}
	}
}
