.wcpay-deposits-overview {
	.wcpay-deposits-overview__header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		/* Bring schedule closer to overview SummaryList */
		margin-bottom: -8px;

		button {
			margin-top: -12px;
		}
	}
	.wcpay-deposits-overview__schedule {
		@include font-size( 13 );
		color: $dark-gray-500;
		margin: 0;
		.wcpay-deposits-overview__schedule-icon,
		.wcpay-deposits-overview__schedule-label,
		.wcpay-deposits-overview__schedule-value {
			vertical-align: middle;
		}
		.wcpay-deposits-overview__schedule-label {
			font-weight: 600;
		}
		.wcpay-deposits-overview__schedule-icon {
			margin-right: 8px;
			fill: $dark-gray-500;
		}
	}
	.woocommerce-summary {
		.woocommerce-summary__item-label {
			margin-bottom: 12px;
		}
		.woocommerce-summary__item-data {
			margin-top: 0;
			margin-bottom: 8px;
		}
		/* Hide unused SummaryNumber fields */
		.woocommerce-summary__item-prev-value,
		.woocommerce-summary__item-delta {
			display: none;
		}
	}
	.woocommerce-summary__item {
		background: $studio-white;
	}
	a.woocommerce-summary__item {
		&:hover {
			background-color: $light-gray-200;
		}
		&:active {
			background-color: $light-gray-300;
		}
	}
}

div.wcpay-instant-deposits-modal {
	max-width: 500px;

	.components-notice {
		margin-left: 0;
		margin-right: 0;

		p {
			color: $studio-black;
			font-weight: bold;
		}
	}

	p {
		color: $studio-gray-40;
	}

	ul {
		border: 1px solid $studio-gray-5;
		border-radius: 5px;
		font-weight: bold;

		li {
			padding: 1rem;
			clear: both;
			margin: 0;

			span {
				float: right;
			}
		}

		.wcpay-instant-deposits-modal__balance {
			padding-bottom: 0;
		}

		.wcpay-instant-deposits-modal__fee {
			span {
				color: $studio-red-50;
			}
		}

		.wcpay-instant-deposits-modal__net {
			border-top: 1px solid $studio-gray-5;

			span {
				color: $studio-green-30;
			}
		}
	}
}
