.store-settings__card-body {
	// Used to imitate CheckboxControl component without React
	input[type='checkbox']:checked {
		background-image: url( 'data:image/svg+xml, %3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" role="img" class="components-checkbox-control__checked" aria-hidden="true" focusable="false"%3E%3Cpath d="M18.3 5.6L9.9 16.9l-4.6-3.4-.9 1.2 5.8 4.3 9.3-12.6z" fill="%23FFFFFF"%3E%3C/path%3E%3C/svg%3E' );
		background-position: center;
	}

	input[type='checkbox'] {
		margin-bottom: 8px;
		border-radius: 2px;
	}

	.description {
		margin-bottom: 12px;
	}

	fieldset[class=''] {
		.description {
			margin-bottom: 0;
		}
	}
}
