.wcpay-payments-activity__survey {
	$inner-container-max-width: 513px;

	position: relative;
	width: 100%;

	.survey_container {
		margin: 0 auto;
		max-width: $inner-container-max-width;
		display: flex;
		gap: 5px;
		justify-content: space-between;
		align-items: center;

		&__emoticons {
			line-height: 45px;
			display: flex;
			justify-content: flex-end;

			.components-button {
				font-size: 18px;
			}

			.selected {
				background-color: $wp-blue-0;
			}

			.has-icon {
				min-width: 32px;
			}
		}

		@media ( max-width: 600px ) {
			flex-direction: column;
		}
	}

	.close_container {
		// line-height: 45px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.comment_container {
		max-width: $inner-container-max-width;
		margin: auto;

		.survey-bottom-disclaimer {
			font-size: 11px;
			color: $wp-gray-40;
			font-style: italic;
		}
	}

	.close_survey {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 7px;
	}
}
