.express-checkout-settings {
	&__breadcrumbs {
		margin-bottom: 40px;
	}

	&__option-muted-text {
		color: #757575;
	}

	&__option-help-text {
		color: #757575;
		padding-left: 30px;

		@media ( min-width: 600px ) {
			padding-left: 26px;
		}
	}

	&__cta-selection {
		.components-base-control__label {
			// hack until the `hideLabelFromVision` is fixed for radio controls in Gutenberg
			display: none;
		}
	}

	&__preview {
		border: 1px dashed #ddd;
		box-sizing: border-box;
		border-radius: 3px;
		background-color: #f0f0f0;
		padding: 16px;
	}

	&__preview-help-text {
		font-style: italic;
	}

	&__icons {
		display: flex;
		align-items: flex-start;
	}

	&__icon {
		border-radius: 2px;
		display: flex;
		width: 64px;
		height: 40px;
		margin: 1px 17px 1px 1px; // 1px to accommodate for box-shadow
		box-shadow: 0 0 0 1px #ddd;
		background: #fff;

		svg {
			display: inline-block;
		}
	}
}

.components-radio-control__input[type='radio']:checked::before {
	box-sizing: border-box;
}

.woopay-settings {
	&__custom-message-wrapper {
		max-width: 500px;
		position: relative;

		.components-base-control__field .components-text-control__input {
			padding-right: 70px;
		}

		.input-help-text {
			position: absolute;
			right: 10px;
			top: 42px;
			font-size: 12px;
			color: #757575;

			@media ( min-width: 783px ) {
				top: 38px;
			}
		}
	}

	&__update-store-logo {
		display: flex;
		justify-content: space-between;

		.components-base-control__field {
			margin-bottom: 0;
		}

		.components-button.is-link {
			color: #007cba;
			text-decoration: none;
		}

		.delete-uploaded-file-button {
			color: #757575;
		}

		&.has-file {
			border: 1px solid #f0f0f0;
			padding: 8px;

			.components-form-file-upload {
				display: none;
			}
		}

		img {
			margin-top: 0 !important;
		}
	}

	&__preview {
		position: relative;

		&-fade {
			position: absolute;
			bottom: 0;
			height: 45px;
			width: 100%;
			background: linear-gradient(
				180deg,
				rgba( 255, 255, 255, 0 ) 0%,
				#fff 100%
			);
		}
	}
}

.payment-request-settings {
	&__location {
		margin-bottom: 26px;
	}
}

.express-checkout__notice {
	margin-left: 0;
	margin-right: 0;
	border: 0;
}

.payment-method-settings {
	&__option-help-text {
		color: #757575;
	}

	&__preview-help-text {
		color: #757575;
	}

	&__preview {
		padding: 24px;
		border: 1px solid rgba( 25, 23, 17, 0.3 );
		border-radius: 4px;
		display: flex;
		justify-content: center;

		.woopay-express-button,
		.StripeElement {
			width: 100%;
			&:not( :last-child ) {
				margin-right: 8px;
			}
		}
		@media screen and ( max-width: 782px ) {
			flex-wrap: wrap;

			& > * {
				display: block;
				margin-top: 14px;
			}

			& > *:first-child {
				margin-top: 0;
			}
		}

		&[data-theme='light'],
		&[data-theme='light-outline'] {
			background: #2b2b2b;
		}
	}
}

.components-radio-control {
	.payment-method-settings {
		&__option-help-text {
			margin-left: 26px;
		}
	}
}

.components-notice {
	&__content {
		display: flex;
	}
}
