.authorized-charge-action-container, .authorized-charge-modal {
	button {
		margin-left: 10px;
	}
}

.authorized-charge-action-container {
	float: right;
}

.authorized-charge-modal-buttons {
	text-align: right;
}
