@import '../../../stylesheets/abstracts/colors';
@import '../../../stylesheets/abstracts/variables';

.platform-checkout-save-new-user-container {
	.save-details {
		padding: $gap-small;
		border: 1px solid rgba( 109, 109, 109, 0.3 );
	}

	.save-details-header {
		display: flex;
		align-items: center;
		gap: $gap-small;
		position: relative;

		label {
			flex: 1;
			display: flex;
			gap: $gap-small;
			align-items: flex-start;

			.save-details-checkbox:not( .wc-block-components-checkbox__input ) {
				margin-top: 6px;
			}
		}

		.wc-block-components-checkbox label {
			gap: unset;
		}

		.woopay-logo {
			height: 17px;
		}

		.info-icon {
			fill: $gray-600;

			&:hover,
			&.focused {
				fill: #3d9cd2;
			}

			&:hover + .save-details-flyout {
				display: flex;
			}
		}

		.save-details-flyout {
			display: none;
			flex-direction: row;
			gap: $gap-smaller;
			background-color: #fff;
			border: 1px solid rgba( 109, 109, 109, 0.3 );
			border-radius: 3px;
			padding: $gap-small;
			position: absolute;
			width: 270px;
			font-size: 13px;
			line-height: 20px;
			top: -115px;
			left: calc( 100% - 135px );

			&.is-blocks {
				top: -105px;
			}

			&:hover {
				display: flex;
			}

			svg {
				color: $alert-green;
			}

			@include breakpoint( '<800px' ) {
				left: initial;
				right: 0;
				top: -130px;
			}
		}
	}
}
