.wcpay-tooltip {
	&__content-wrapper {
		// ensures that the element needed for position calculations isn't included in the DOM layout
		display: contents;
	}

	&__tooltip-wrapper {
		visibility: hidden;
		position: fixed;
		opacity: 0;
		transition: opacity 150ms ease-in;
		// gotta do it a bit higher than the modal used in Gutenberg, to ensure the tooltip appears on top 😅
		z-index: 100010;

		&.is-hiding {
			opacity: 0 !important;
			transition: opacity 200ms ease-out 300ms;
		}
	}

	&__tooltip {
		position: relative;

		color: $white;
		background-color: $gray-900;
		padding: 10px;
		text-align: center;

		&:not( .tooltip-no-arrow )::after {
			content: ' ';
			position: absolute;
			left: 50%;
			transform: translate( -50%, 0 );
			border: solid 6px transparent;
		}

		&:not( .tooltip-no-arrow ).tooltip-position-top::after {
			border-top-color: $gray-900;
			bottom: -12px;
		}

		&:not( .tooltip-no-arrow ).tooltip-position-bottom::after {
			border-bottom-color: $gray-900;
			top: -12px;
		}
	}
}
