.loadable-checkbox {
	position: relative;

	&__spinner {
		background: var( --wp-admin-theme-color );
		width: 24px;
		height: 24px;
		position: absolute;
		z-index: 1;
		border-radius: 2px;
		cursor: pointer;

		// this breakpoint is defined within the Gutenberg styles.
		@media ( min-width: 600px ) {
			width: 20px;
			height: 20px;
		}

		svg {
			background: none;
			display: block;
			shape-rendering: auto;
			width: 100%;
			height: 100%;
		}
	}

	&.label-hidden label {
		display: none;
	}

	&__icon {
		flex-shrink: 0;
	}
}
