.woocommerce-payments-method-logos_count {
	width: 38px;
	height: 24px;
	background-color: #f2f2f2;
	text-align: center;
	line-height: 24px;
	border-radius: 3px;
	font-size: 11px;
	font-weight: 600;
}

.woocommerce-payments-method-logos > svg,
.woocommerce-payments-method-logos_mini > svg {
	width: 38px;
	height: 24px;
}

.woocommerce-payments-method-logos img,
.woocommerce-payments-method-logos_mini img {
	margin-right: 8px;
}

.connect-account-page__payment-methods .woocommerce-payments-method-logos,
.connect-account-page__payment-methods .woocommerce-payments-method-logos_mini {
	border: 1px solid #ddd;
	border-bottom: none;
	padding: 12px;
}

.woocommerce-payments-method-logos,
.woocommerce-payments-method-logos_mini {
	display: flex;
	align-items: center;
}

@media only screen and ( min-width: 480px ) {
	.woocommerce-payments-method-logos_mini {
		display: none;
	}
}

@media only screen and ( max-width: 480px ) {
	.woocommerce-payments-method-logos {
		display: none;
	}
}
