.settings-section {
	display: flex;
	flex-flow: column;

	&:not( &:last-child ) {
		margin-bottom: 70px;
	}

	@include breakpoint( '>800px' ) {
		flex-flow: row;
	}

	&__details {
		flex: 0 1 auto;
		margin-bottom: 24px;
		max-width: 100%;

		@include breakpoint( '>800px' ) {
			flex: 0 0 33%;
			margin: 0 24px 0 0;
			max-width: 328px;
		}

		h2 {
			@include heading-lg;
			font-size: 16px;
			line-height: 24px;
			margin-top: 0;
		}

		p {
			font-size: 13px;
			line-height: 17.89px;
			margin: 12px 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	&__icons {
		> li {
			display: inline-block;
			margin: 0 5px 0 0;
		}

		svg {
			border-radius: 2px;
			box-shadow: 0 0 0 1px #ddd;
			height: auto;
			width: 38px;
		}
	}

	&__controls {
		flex: 1 1 auto;

		.components-radio-control:not( :last-child ),
		.components-base-control:not( :last-child ) {
			margin-bottom: 24px;
		}
	}
}
