.wcpay-component-onboarding-card {
	display: block;
	padding: $gap-large;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid $light-gray-500;
	margin-bottom: $gap-large;

	&__label {
		display: grid;
		grid-template-columns: 24px 1fr 25px;
		column-gap: $gap-small;
		align-items: center;
		font-weight: bold;

		&:not( :last-child ) {
			margin-bottom: $gap;
		}

		svg {
			fill: #bbb;
		}
	}

	p {
		color: $gray-700;
	}
}

.wcpay-component-onboarding-card__button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
