@import '../../stylesheets/abstracts/colors';
@import '../../stylesheets/abstracts/variables';
@import '/node_modules/intl-tel-input/build/css/intlTelInput.css';

.platform-checkout-save-new-user-container {
	display: flex;
	flex-direction: column;
	gap: $gap;
	margin-top: $gap-large;

	h3 {
		margin-bottom: 0;
	}

	.components-checkbox-control__input-container {
		margin-right: $gap-smaller;
		height: auto;

		.components-checkbox-control__input[type='checkbox'] {
			height: 16px;
			width: 16px;
		}

		svg {
			height: 16px;
			width: 16px;
			left: 0;
			top: 0;
		}

		label {
			font-size: 14px;
		}
	}

	.save-details-checkbox {
		margin-right: $gap-smallest;
		> div {
			margin-bottom: 0;
		}
	}

	.save-details-form.form-row {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		line-height: 26px;
		font-weight: 400;
		gap: $gap;

		.about-platform-checkout {
			color: #6d6d6d;
		}

		.additional-information {
			display: flex;
			font-size: 14px;
			flex-direction: row;
			align-items: flex-start;
			gap: $gap-smaller;

			&:not( :last-child ) {
				margin-bottom: $gap;
			}

			svg {
				margin-top: 5px;
				path {
					fill: currentColor;
					fill-rule: evenodd;
				}
			}
		}

		.tos {
			font-size: 14px;
		}

		.error-text {
			// Using rems to base this on the theme styles.
			font-size: 0.875rem;
			line-height: 1.5rem;
		}

		.error-text {
			margin-bottom: 0;
			color: $alert-red;
		}

		.line {
			border: 0.5px solid $studio-gray-5;
		}

		.components-base-control {
			font-size: 16px;

			.components-text-control__input {
				font-size: 16px;
			}

			&.has-error {
				.iti::before {
					content: ' ';
					width: 2px;
					height: calc( 100% - 2px );
					background: $alert-red;
					position: absolute;
					top: 1px;
					left: 1px;
					z-index: 11;
				}

				input {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}

			&.phone-input {
				label {
					// Using rems to base this on the theme styles.
					font-size: 1rem;
				}
			}
		}
	}
}

#phone-number {
	height: 42px;
	box-shadow: inset 0 1px #d6d6d6;
	border: none;
	font-size: 15px;
	line-height: 26px;
}

#payment {
	.save-details-form.place-order {
		margin-top: $gap-smaller;
	}

	.platform-checkout-save-new-user-container + .place-order {
		margin-top: $gap-large !important;
	}
}

// compulsary overrides required for intl-tel-input
.iti__flag {
	background-image: url( '/node_modules/intl-tel-input/build/img/flags.png' );
}

@media ( -webkit-min-device-pixel-ratio: 2 ), ( min-resolution: 192dpi ) {
	.iti__flag {
		background-image: url( '/node_modules/intl-tel-input/build/img/flags@2x.png' );
	}
}

// override intl-tel-input styles
.iti {
	width: 100%;
}

.iti__selected-flag {
	background-color: inherit !important;

	.iti__flag {
		transform: scale( 1.1 );
	}

	.iti__selected-dial-code {
		font-size: 16px;
		color: $gray-800;
	}

	.iti__arrow {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #2c3338;

		&--up {
			border-top: none;
			border-bottom: 5px solid #2c3338;
		}
	}
}
