.wcpay-bnpl-announcement {
	&.wcpay-confirmation-modal.wcpay-confirmation-modal {
		margin-top: 75%;

		@media screen and ( min-width: 600px ) {
			max-width: 500px;
			margin-top: auto;
		}

		@media screen and ( max-height: 800px ) {
			margin-top: 50%;
		}

		@media screen and ( max-height: 600px ) {
			margin-top: 30%;
		}

		.components-modal__header {
			padding: 0;

			.components-button.has-icon {
				position: absolute;
				top: 18px;
				left: auto;
				right: 18px;
			}
		}

		.components-modal__content {
			@media screen and ( max-width: 600px ) {
				padding: 0 20px 24px;
			}

			padding: 0 36px 24px;
			margin-top: 60px;
		}

		.wcpay-confirmation-modal__separator {
			margin-left: -35px;
			margin-right: -35px;
		}
	}

	&__payment-icons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		gap: 17px;
		margin-bottom: 20px;

		.payment-method__icon {
			margin-right: 0;
			max-height: 35px;
			outline: none;

			&[alt='Affirm'] {
				max-height: 30px;
			}

			&[alt='Clearpay'] {
				max-height: 25px;
			}
		}
	}

	&__fine-print {
		font-size: 10px;
		text-align: right !important;
	}

	h1 {
		@media screen and ( max-width: 320px ) {
			font-size: 1.5em;
		}

		line-height: 25px;
		text-align: center;
		width: 100%;
	}

	p {
		@media screen and ( max-width: 320px ) {
			font-size: 10px;
		}
		text-align: center;
	}

	.components-external-link {
		padding: 6px 12px;
		align-items: center;
		display: flex;
	}

	.components-button.is-primary {
		background: $studio-woocommerce-purple-60;

		&:hover {
			background: $studio-woocommerce-purple-70;
		}
		&:active {
			background: $studio-woocommerce-purple-80;
		}
	}
}
