.wcpay-bnpl-announcement {
	&.wcpay-confirmation-modal.wcpay-confirmation-modal {
		margin-top: auto;
		height: auto;

		@media screen and ( min-width: 600px ) {
			max-width: 500px;
		}

		.components-modal__header {
			padding: 0;

			.components-button.has-icon {
				position: absolute;
				top: 18px;
				left: auto;
				right: 18px;
			}
		}

		.components-modal__content {
			padding: 0 20px 100px;
			margin-top: 60px;

			@media screen and ( min-width: 600px ) {
				padding: 0 35px 24px;
			}
		}

		.wcpay-confirmation-modal__separator {
			margin-left: -20px;
			margin-right: -20px;

			@media screen and ( min-width: 600px ) {
				margin-left: -35px;
				margin-right: -35px;
			}
		}
	}

	&__payment-icons {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 17px;
		margin-bottom: 20px;

		.payment-method__icon {
			margin-right: 0;
			max-height: 35px;
			outline: none;

			&[alt='Affirm'] {
				max-height: 30px;
			}
		}
	}

	&__fine-print {
		font-size: 10px;
		text-align: right !important;
	}

	h1 {
		font-size: 1.5em;
		line-height: 25px;
		text-align: center;
		width: 100%;

		@media screen and ( min-width: 320px ) {
			font-size: 2em;
		}
	}

	p {
		text-align: center;
	}

	.components-external-link {
		padding: 6px 12px;
		align-items: center;
		display: flex;
	}
}
