.wcpay-progressive-onboarding-eligibility-modal {
	&.components-modal__frame {
		border-radius: 2px !important;
		overflow: visible;

		@media screen and ( max-width: $break-small ) {
			height: fit-content;
			margin: auto auto;
			max-width: 90vw;
		}
	}

	.components-modal__content {
		box-sizing: border-box;
		max-width: 516px;
		margin: 72px 0 0;
		padding: $gap-larger;
		display: flex;
		flex-direction: column;
		padding: $gap $gap-larger $gap-larger $gap-larger;
		flex: 1;
		overflow: auto;
	}

	.components-modal__header {
		.components-modal__header-heading {
			font-weight: 300;
			text-wrap: auto;
		}

		.components-button {
			svg {
				width: 32px;
				height: 32px;
			}
		}
	}

	&__heading {
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		margin-bottom: $gap-smallest;
	}

	&__subheading {
		@include wc-body-large;
		font-weight: 400;
		color: $gray-700;
		font-size: 13px;
		line-height: 20px;
		margin: 0 0 $gap-large 0;
		text-wrap: wrap !important;
	}

	&__benefits {
		fill: $gray-900;
		font-size: 13px;
		line-height: 20px;
		color: $gray-700;

		> div {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: $gap;
			color: $gray-700;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
		}

		> div:not( :last-child ) {
			margin-bottom: $gap;
		}

		svg {
			display: block;
			margin: $gap-smallest 0;
			color: $gray-900;
		}

		&__subtitle {
			@include wp-subtitle;
			margin: $gap-smallest 0;
			font-weight: 600;
			color: $gray-900;
			line-height: 20px;
			font-size: 13px;
		}

		@media screen and ( max-width: $break-small ) {
			grid-template-columns: 1fr;
			row-gap: $gap-large;

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}

	&__footer {
		text-align: right;
		margin: $gap-large 0 0 0;
		width: 100%;

		& :first-child {
			margin-right: $gap;
		}

		button {
			margin-top: $gap-large;
			padding: $gap-small $gap-large;
			font-size: 14px;
			line-height: 20px;
			height: 40px;
		}

		@media screen and ( max-width: $break-small ) {
			text-wrap: nowrap;
			text-align: center;
		}
	}

	&__confetti {
		position: absolute;
		top: -28px;
		left: -8px;
		pointer-events: none;
	}
}
