.wcpay-account-overview-header.components-card__header {
	// Override the default padding to adjust for additional margins on child elements.
	padding-top: 8px;
	padding-bottom: 8px;
}

.wcpay-account-overview-header__flex__logo {
	display: block;
	margin-top: 14px;
	margin-bottom: 10px;
}

.wcpay-account-overview-header__flex__greeting {
	margin-top: 8px;
	margin-bottom: 8px;
}

@media screen and ( max-width: $break-mobile ) {
	.components-flex.wcpay-account-overview-header__flex {
		flex-direction: column-reverse;
	}
}
