.wcpay-welcome.components-card__header {
	// Override the Card Header styles – used to keep consistent header styles.
	padding: 0;
	margin-bottom: $grid-unit-30;
	border: 0;
}

.wcpay-welcome__flex__greeting {
	margin-top: 8px;
	margin-bottom: 8px;
}

@media screen and ( max-width: $break-mobile ) {
	.components-flex.wcpay-welcome__flex {
		flex-direction: column;
	}
	.wcpay-welcome__flex__greeting {
		margin-bottom: 24px;
	}
}
