.wcpay-overview__survey__container {
	.survey_container {
		display: flex;
		flex-direction: row;

		span {
			float: left;
			margin: auto;
		}

		.emoticons_container {
			line-height: 45px;
			align-items: center;
			flex-grow: 1;
			justify-content: left;

			div {
				float: left;
			}

			span {
				vertical-align: middle;
			}
			button {
				vertical-align: middle;
			}
			.selected {
				background-color: #ecf2f8;
			}
		}
	}
}
