.wcpay-overview__survey__container {
	.survey_container {
		display: flex;
		flex-direction: row;

		span {
			margin: auto;
			text-align: center;
			display: inline-block;
		}

		.width_32 {
			width: 32px;
		}

		.emoticons_container {
			line-height: 45px;
			align-items: center;
			flex-grow: 1;
			justify-content: left;
			display: flex;
			flex-direction: row;

			div {
				float: left;
			}
			button {
				vertical-align: middle;
				span {
					font-size: 17px;
				}
			}
			.selected {
				background-color: #ecf2f8;
			}
		}
	}
}
