name: Compressed Size

on:
    pull_request:
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        name: Bundle size check
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Use desired version of NodeJS
              uses: actions/setup-node@v3
              with:
                  node-version-file: '.nvmrc'
                  cache: npm
            - name: Checking for file changes
              uses: preactjs/compressed-size-action@265b0667736973f2d83b1a35fdc5440d6cb3322e
              with:
                  pattern: '{release/**/*.js,release/**/*.css}'
                  exclude: '{release/vendor/**}'
