name: E2E Tests - Full

on:
  schedule:
    - cron: '0 */6 * * *'
  pull_request:
    branches:
      - trunk
  push:
    branches:
      - develop
      - trunk
  workflow_dispatch:

env:
  E2E_GH_TOKEN:          ${{ secrets.E2E_GH_TOKEN }}
  CI_USER_TOKEN:         ${{ secrets.CI_USER_TOKEN }}
  WCP_DEV_TOOLS_REPO:    ${{ secrets.WCP_DEV_TOOLS_REPO }}
  WCP_DEV_TOOLS_BRANCH:  'trunk'
  WCP_SERVER_REPO:       ${{ secrets.WCP_SERVER_REPO }}
  WC_SUBSCRIPTIONS_REPO: ${{ secrets.WC_SUBSCRIPTIONS_REPO }}
  E2E_BLOG_ID:           ${{ secrets.E2E_BLOG_ID }}
  E2E_BLOG_TOKEN:        ${{ secrets.E2E_BLOG_TOKEN }}
  E2E_USER_TOKEN:        ${{ secrets.E2E_USER_TOKEN }}
  E2E_RETEST:            1
  WC_E2E_SCREENSHOTS:    1
  E2E_SLACK_CHANNEL:     ${{ secrets.E2E_SLACK_CHANNEL }}
  E2E_SLACK_TOKEN:       ${{ secrets.E2E_SLACK_TOKEN }}
  E2E_USE_LOCAL_SERVER:  false
  E2E_RESULT_FILEPATH:   'tests/e2e/results.json'


jobs:
  # Run WCPay & subscriptions tests against specific WC versions
  wcpay-subscriptions-tests:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast:     false
      matrix:
        # Min WooCommerce | L-2 | L(atest) | beta
        woocommerce:   [ '6.4.1', '6.6.1', 'latest', 'beta' ]
        wordpress:     [ 'latest' ]
        test_groups:   [ 'wcpay', 'subscriptions' ]
        test_branches: [ 'merchant', 'shopper' ]

    name: WC[${{ matrix.woocommerce }}] | ${{ matrix.test_groups }} - ${{ matrix.test_branches }}

    env:
      E2E_WP_VERSION: ${{ matrix.wordpress }}
      E2E_WC_VERSION: ${{ matrix.woocommerce }}
      E2E_GROUP:  ${{ matrix.test_groups }}
      E2E_BRANCH: ${{ matrix.test_branches }}
      SKIP_WC_BLOCKS_TESTS: 1 #skip installing & running blocks tests

    steps:
      - name: Checkout WCPay repository
        uses: actions/checkout@v2

      - name: Setup E2E environment
        uses: ./.github/actions/e2e/env-setup

      - name: Run tests, upload screenshots & logs
        uses: ./.github/actions/e2e/run-log-tests

  # Run tests against WC Checkout blocks & WC latest
  blocks-tests:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast:     false
      matrix:
        woocommerce:   [ 'latest' ]
        wordpress:     [ 'latest' ]
        test_groups:   [ 'blocks' ]
        test_branches: [ 'shopper' ]

    name: WC[${{ matrix.woocommerce }}] | ${{ matrix.test_groups }} - ${{ matrix.test_branches }}

    env:
      E2E_WP_VERSION: ${{ matrix.wordpress }}
      E2E_WC_VERSION: ${{ matrix.woocommerce }}
      E2E_GROUP:  ${{ matrix.test_groups }}
      E2E_BRANCH: ${{ matrix.test_branches }}
      SKIP_WC_SUBSCRIPTIONS_TESTS: 1 #skip installing & running subscriptions tests
      SKIP_WC_ACTION_SCHEDULER_TESTS: 1 #skip installing & running action scheduler tests

    steps:
      - name: Checkout WCPay repository
        uses: actions/checkout@v2

      - name: Setup E2E environment
        uses: ./.github/actions/e2e/env-setup

      - name: Run tests, upload screenshots & logs
        uses: ./.github/actions/e2e/run-log-tests

  # Run tests against WP Nightly & WC latest
  wp-nightly-tests:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast:     false
      matrix:
        woocommerce:   [ 'latest' ]
        wordpress:     [ 'nightly' ]
        test_groups:   [ 'wcpay', 'subscriptions', 'blocks' ]
        test_branches: [ 'merchant', 'shopper' ]
        exclude:
          - test_groups: 'blocks'
            test_branches: 'merchant'

    name: WP Nightly -  WC[latest] | ${{ matrix.test_groups }} - ${{ matrix.test_branches }}

    env:
      E2E_WP_VERSION: ${{ matrix.wordpress }}
      E2E_WC_VERSION: ${{ matrix.woocommerce }}
      E2E_GROUP:  ${{ matrix.test_groups }}
      E2E_BRANCH: ${{ matrix.test_branches }}

    steps:
      - name: Checkout WCPay repository
        uses: actions/checkout@v2

      - name: Setup E2E environment
        uses: ./.github/actions/e2e/env-setup

      - name: Run tests, upload screenshots & logs
        uses: ./.github/actions/e2e/run-log-tests
