name: E2E Tests - Pull Request

on:
  pull_request:
    branches:
      - develop
  workflow_dispatch:

env:
  E2E_GH_TOKEN:          ${{ secrets.E2E_GH_TOKEN }}
  WCP_DEV_TOOLS_REPO:    ${{ secrets.WCP_DEV_TOOLS_REPO }}
  WCP_DEV_TOOLS_BRANCH:  'trunk'
  WCP_SERVER_REPO:       ${{ secrets.WCP_SERVER_REPO }}
  WC_SUBSCRIPTIONS_REPO: ${{ secrets.WC_SUBSCRIPTIONS_REPO }}
  E2E_BLOG_ID:           ${{ secrets.E2E_BLOG_ID }}
  E2E_BLOG_TOKEN:        ${{ secrets.E2E_BLOG_TOKEN }}
  E2E_USER_TOKEN:        ${{ secrets.E2E_USER_TOKEN }}
  WC_E2E_SCREENSHOTS:    1
  E2E_SLACK_CHANNEL:     ${{ secrets.E2E_SLACK_CHANNEL }}
  E2E_SLACK_TOKEN:       ${{ secrets.E2E_SLACK_TOKEN }}
  E2E_USE_LOCAL_SERVER:  false
  E2E_RESULT_FILEPATH:   'tests/e2e/results.json'


jobs:
  wcpay-e2e-tests:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast:     false
      matrix:
        woocommerce:   [ 'latest' ]
        wordpress:     [ 'latest' ]
        test_groups:   [ 'wcpay', 'subscriptions', 'blocks' ]
        test_branches: [ 'merchant', 'shopper' ]

    name: WP(${{ matrix.wordpress }}) - WC(${{ matrix.woocommerce }}) | ${{ matrix.test_groups }} - ${{ matrix.test_branches }}

    env:
      E2E_WP_VERSION: ${{ matrix.wordpress }}
      E2E_WC_VERSION: ${{ matrix.woocommerce }}
      E2E_GROUP:  ${{ matrix.test_groups }}
      E2E_BRANCH: ${{ matrix.test_branches }}

    steps:
      - name: Checkout WCPay repository
        uses: actions/checkout@v2

      - name: Setup E2E environment
        uses: ./.github/actions/e2e/env-setup

      - name: Run tests, upload screenshots & logs
        uses: ./.github/actions/e2e/run-log-tests
