name: E2E tests

on:
  schedule:
    - cron: '0 */6 * * *'
  pull_request:
    branches:
      - trunk
  push:
    branches:
      - develop
      - trunk
  workflow_dispatch:

env:
  E2E_GH_TOKEN:                                ${{ secrets.E2E_GH_TOKEN }}
  CI_USER_TOKEN:                               ${{ secrets.CI_USER_TOKEN }}
  WCP_DEV_TOOLS_REPO:                          ${{ secrets.WCP_DEV_TOOLS_REPO }}
  WCP_SERVER_REPO:                             ${{ secrets.WCP_SERVER_REPO }}
  WC_SUBSCRIPTIONS_REPO:                       ${{ secrets.WC_SUBSCRIPTIONS_REPO }}
  WC_ACTION_SCHEDULER_REPO:                    ${{ secrets.WC_ACTION_SCHEDULER_REPO }}
  WC_BLOCKS_REPO:                              ${{ secrets.WC_BLOCKS_REPO }}
  E2E_BLOG_ID:                                 ${{ secrets.E2E_BLOG_ID }}
  E2E_BLOG_TOKEN:                              ${{ secrets.E2E_BLOG_TOKEN }}
  E2E_USER_TOKEN:                              ${{ secrets.E2E_USER_TOKEN }}

jobs:
  e2e:
    name:    E2E tests
    runs-on: ubuntu-18.04
    strategy:
      fail-fast:     false
      matrix:
        # Min WooCommerce | L-2 | L(atest) | beta
        woocommerce: [ '4.4.0', '5.7.0', '5.9.0', 'beta' ]
        wordpress:   [ 'latest' ]
        php:         [ '7.4' ]
        include:
          # Edge case: oldest dependencies compatibility
          - woocommerce: '4.4.0'
            wordpress:   '5.4'
            php:         '7.0'
    env:
      WP_VERSION: ${{ matrix.wordpress }}
      WC_VERSION: ${{ matrix.woocommerce }}
    steps:
      # clone the repository
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
      # enable dependencies caching
      - uses: actions/cache@v2
        with:
          path: ~/.cache/composer/
          key:  ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
      - uses: actions/cache@v2
        with:
          path: vendor/
          key:  ${{ runner.os }}-vendor-${{ hashFiles('composer.lock') }}
      - uses: actions/cache@v2
        with:
          path: ~/.npm/
          key:  ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}
      - uses: actions/cache@v2
        with:
          path: node_modules/
          key:  ${{ runner.os }}-node-modules-${{ hashFiles('package-lock.json') }}
      # setup PHP, but without debug extensions for reasonable performance
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools:       composer
          extensions:  mysql
          coverage:    none
      # install dependencies
      - run: composer self-update 2.0.6 && composer install --no-progress
      - run: npm ci && npm run build:client
      # prepare testing resources and run E2E tests
      - run: echo -e "machine github.com\n  login $CI_USER_TOKEN" > ~/.netrc
      - run: sudo systemctl start mysql.service
      - run: WCPAY_DIR="$GITHUB_WORKSPACE" bash ./bin/install-wp-tests.sh woocommerce_test root root localhost $WP_VERSION $WC_VERSION false
      - run: npm run test:e2e-setup
      - run: npm run test:e2e
      - uses: actions/upload-artifact@v2
        with:
          name: screenshots
          path: screenshots
