/** @format */

.wcpay-review-prompt__illustration {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 130px;
	background-color: #f2edff;

	img {
		max-height: 88px;
		width: auto;
	}
}
